.description-photo
    .detail-description
        .headline
            h2 Врач-дерматокосметолог
            p Закирова Айгуль Ильнуровна
        .detail-photo
            img(src="./images/zakirova.png")
        .description
            p В 2016г окончила Кировскую государственную  медицинскую академию.
            p Владеет следующими методиками:
            p - лазерная эпиляция на аппарате Palomar Vectus (США);
            p - лазерное фракционное омоложение, удаление стрий, глубокий термолифтинг различных участков, фотоомоложение, удаление пигментных пятен и мелких сосудов на лице и других участках тела на аппарате Palomar Icon (США)
            p - применение химических  пилингов;
            p - мезотерапия/биоревитализация/ биоармирование;
            p - ботулинотерапия;
            p - эндосфэратерапия;
            p - контурная пластика.
