.description-photo
    .detail-description
        .headline
            h2 Врач
            p Купцова Алина Валентиновна
        .detail-photo
            img(src="./images/kuptcova.png")
        .description
            p <span>Врач - ординатор Дерматовенеролог</span>
            p <span>Образование: </span>В 2011 году закончила Ижевский медицинский колледж - Медицинская сестра. Специализация медицинская сестра в косметологии.
            p 2018 году закончила Ижевскую медицинскую Академию. Лечебное дело.
            p 2018-2020 Врач-ординатор Дерматовенеролог. Кафедра Дерматовенерологии и косметологии РУДН г. Москва
            p С 2019 года является тренером - технологом финского бренда по сахарной депиляции. <br> Тренер-технолог института красоты Fijie.
            p <span>Процедуры:</span> косметические уходы по телу, сахарная депиляция, ручная пластика лица - Хиропластический массаж по методике Елены Земсковой, применение химических пилингов, атравматические чистки, комбинированные методики чистки для коррекции угревой болезни, мезотерапия, биоревитализация

