.description-photo
    .detail-description
        .headline
            h2 ВРАЧ
            p Пантюхова Екатерина Викторовна
        .detail-photo
            img(src="./images/pantyukhina.png")
        .description
            p <span>Врач-косметолог</span>
            p <span>Образование:</span> 1994 Смоленская государственная медицинская академия. Лечебный факультет Государственный институт усовершенствование врачей Министерства обороны Дерматовенерология
            p Российская Медицинская Академия Постдипломного образования Врачебная косметология.
            p - медицинский стаж 25 лет
            p <span>Имеет сертификаты следующих методик:</span>
            p - "Врач дерматовенеролог", <br>  - "Врач косметолог"
            p <span>Процедуры:</span> Плазмолифтинг, Озонотерапия, Ревитализация, Ботулинотерапия, Контурная пластика, Мезотерапия, Нитевой лифтинг, Эксфолиативная терапия;
                | Аппаратная косметология: фракционное лазерное омоложение, коррекция гиперпигментаций, рубцов, стрий, фотоэпиляция, фотоомоложение, лечение купероза, розацеа, телеангиэктазий.
