.description-photo
    .detail-description
        .headline
            h2 Врач
            p Захирова Айгуль Ильнуровна
        .detail-photo
            img(src="./images/zakhirova.png")
        .description
            p <span>Специализация</span>
            p <span>Образование: </span>
            p <span>Имеет сертификаты следующих методик:</span>
            p <span>Процедуры:</span> Лазерная Эпиляция на аппарате Palomar Vectus, необляционное лазерное омоложение, лечение растяжек, стрий, рубцов, удаление пигментных пятен, сосудистых звездочек (купероз), термолифтинг MAXIR, массаж лица, эндосфера, биоревитализация, биореструктизация, мезотерапия волос, линия препаратов Platinum Collection, ботулинотерапия, гипергидроз, контурная пластика, нитевой лифтинг  (Мезонити), чистка лица, пилинги, прокол ушей, уходы

