.description-photo
    .detail-description
        .headline
            h2 ВРАЧ
            p Пантюхова Екатерина Викторовна
        .detail-photo
            img(src="./images/pantyukhina.png")
        .description
            p Врач Медицинский стаж 25 лет
            p Образование:  1994 Смоленская государственная медицинская академия. Лечебный факультет Государственный институт усовершенствование врачей Министерства обороны Дерматовенерология
            p Российская Медицинская Академия Постдипломного образования Врачебная косметология.
            p Имеет сертификаты следующих методик:
            p - действующие сертификаты "Врач дерматовенеролог", "Врач косметолог"
            p Процедуры: Плазмолифтинг, Озонотерапия, Ревитализация, Ботулинотерапия, Контурная пластика, Мезотерапия, Нитевой лифтинг, Эксфолиативная терапия; Аппаратная косметология: фракционное лазерное омоложение, коррекция гиперпигментаций, рубцов, стрий, фотоэпиляция, фотоомоложение, лечение купероза, розацеа, телеангиэктазий.
