.description-photo
    .detail-description
        .headline
            h2 ГЛАВНЫЙ ВРАЧ
            p Берелавичус  Станислав Валерьевич
        .detail-photo
            img(src="./images/boss.png")
        .description
            p Доктор медицинских наук, профессор. Окончил лечебный факультет Российский государственный медицинский университет (РГМУ).
            p Имеет ряд усовершенствований в том числе:
            p 1. радиационная безопасность пациентов и персонала при проведении рентгенологических исследований;
            p 2. организация работы с лекарственными препаратами, содержащими наркотические средства, ядовитые, сильнодействующие и психотропные вещества;
            p 3. экспертиза временной нетрудоспособности и контроль качества медпомощи;
            p 4. организация здравоохранения и общественного здоровья.
