.service-detail
    .pink-line
    .container
        .page-title
            h2 Эпиляция тела
            p  Эпиляция лица
        .service-detail__detail
            img(src="./images/lh-bikini.png")
            .detail-description
                p С аппаратом PALOMAR Vectus (США), при лазерной эпиляции классической зоны бикини полностью исчезают любые неприятные ощущения и процедура становится совершенно безболезненной. Результат гарантирован с любым типом кожи и волос.
                p Кроме того, сеанс занимает от силы полчаса, что делает её ещё более удобной. Более подробные консультации по телефону!
                p Цена: 4000 &#8381;
                .btn-block
                    button.btn.btn-pink Записаться на приём
            .bg-down
    .desktop-menu-inside
        a.menu(href="#") Главная
        a.menu.active(href="#") О центре
        a.menu(href="#") Услуги
        a.menu(href="#") Наши цены
        a.menu(href="#") Наши врачи
        a.menu(href="#") Отзывы
        a.menu(href="#") Контакты
    .container
        .doctor-detail
            .description-photo
                .detail-description
                    .headline
                        h2 ГЛАВНЫЙ ВРАЧ
                        p Берелавичус  Станислав Валерьевич
                    .detail-photo
                        img(src="./images/boss.png")
                    .description
                        p Доктор медицинских наук, профессор. Окончил лечебный факультет Российский государственный медицинский университет (РГМУ).
                        p Имеет ряд усовершенствований в том числе:
                        p 1. радиационная безопасность пациентов и персонала при проведении рентгенологических исследований;
                        p 2. организация работы с лекарственными препаратами, содержащими наркотические средства, ядовитые, сильнодействующие и психотропные вещества;
                        p 3. экспертиза временной нетрудоспособности и контроль качества медпомощи;
                        p 4. организация здравоохранения и общественного здоровья.
    .white-bg
    .container
        .doctor-detail
            .description-photo
                .detail-description
                    .headline
                        h2 ГЛАВНЫЙ ВРАЧ
                        p Берелавичус  Станислав Валерьевич
                    .detail-photo
                        img(src="./images/boss.png")
                    .description
                        p Доктор медицинских наук, профессор. Окончил лечебный факультет Российский государственный медицинский университет (РГМУ).
                        p Имеет ряд усовершенствований в том числе:
                        p 1. радиационная безопасность пациентов и персонала при проведении рентгенологических исследований;
                        p 2. организация работы с лекарственными препаратами, содержащими наркотические средства, ядовитые, сильнодействующие и психотропные вещества;
                        p 3. экспертиза временной нетрудоспособности и контроль качества медпомощи;
                        p 4. организация здравоохранения и общественного здоровья.
    .white-bg


