.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .service-detail
            .page-title
                h2 Биоревитализация
                p  Биоревитализация: RESTYLANE TACH
            .service-detail__detail
                img(src="./images/bio-14.png")
                .detail-description
                    p Результат биоревитализации препаратом RESTYLANE TACH чрезвычайно действенен и виден практически сразу.
                    p Гиалуроновая кислота успешно борется с сухостью, обезвоживанием, нездоровым цветом кожи, морщинками, мелкими рубцами, тёмными кругами под глазами и расширенными порами, а также является непревзойдённым средством по профилактике преждевременного старения.
                    p Мы используем препараты всех зарекомендовавших себя на рынке производителей. Проконсультируйтесь со специалистом и составьте свою программу на пути к совершенству!
                    p Цена: 8000 &#8381;
                    .btn-block
                        button.btn.btn-pink.popup Записаться на приём
                .bg-down
            .doctor-detail
                .description-photo
                    .detail-description
                        .headline
                            h2 ВРАЧ
                            p Пантюхова Екатерина Викторовна
                        .detail-photo
                            img(src="./images/pantyukhina.png")
                        .description
                            p Врач Медицинский стаж 25 лет
                            p Образование:  1994 Смоленская государственная медицинская академия. Лечебный факультет Государственный институт усовершенствование врачей Министерства обороны Дерматовенерология
                            p Российская Медицинская Академия Постдипломного образования Врачебная косметология.
                            p Имеет сертификаты следующих методик:
                            p - действующие сертификаты "Врач дерматовенеролог", "Врач косметолог"
                            p Процедуры: Плазмолифтинг, Озонотерапия, Ревитализация, Ботулинотерапия, Контурная пластика, Мезотерапия, Нитевой лифтинг, Эксфолиативная терапия; Аппаратная косметология: фракционное лазерное омоложение, коррекция гиперпигментаций, рубцов, стрий, фотоэпиляция, фотоомоложение, лечение купероза, розацеа, телеангиэктазий.
            .white-bg
            .doctor-detail
                .description-photo
                    .detail-description
                        .headline
                            h2 ВРАЧ
                            p Купцова Алина Валентиновна
                        .detail-photo
                            img(src="./images/kuptcova.png")
                        .description
                            p Врач ординатор Дерматовенеролог
                            p Образование:  В 2011 году закончила Ижевский медицинский колледж - Медицинская сестра. Специализация медицинская сестра в косметологии.
                            p 2018 году закончила Ижевскую медицинскую Академию. Лечебное дело.
                            p 2018 - 2020 Врач ординатор Дерматовенеролог. Кафедра Дерматовенерологии и косметологии РУДН г. Москва С 2019 года является тренером технологом финского бренда по сахарной депиляции. Тренер технолог института красоты Fijie.
                            p Процедуры:
                            p - косметические уходы по телу
                            p - сахарная депиляция
                            p - ручная пластика лица - Хиропластический массаж по методике Елены Земсковой
                            p - применение химических пилингов
                            p - атравматические чистки
                            p - комбинированные методики чистки для коррекции угревой болезни
                            p - мезотерапия
                            p - биоревитализация
            .white-bg
