.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .service-detail
            .page-title
                h2 Биореструктуризация
                p  Биореструктуризация - SKIN B
            .service-detail__detail
                img(src="./images/bio-r-1.png")
                .detail-description
                    p SKIN B обыяно применяется для пациентов в возрасте 25-35 лет для коррекции проблемной кожи. Содержат аминокислоты, стимулирующие выработку максимального количества коллагена.
                    p Процедуры проводятся очень быстро, препарат начинает действовать моментально. Купероз, пигментные пятна, дряблость и увядание кожи – обо всём этом можно забыть, когда за дело берётся биореструктуризация. Кожа преображается на глазах, разглаживается и светлеет.
                    p Проконсультируйтесь со специалистом и составьте свою программу на пути к совершенству!
                    p Цена: 9000 &#8381;
                    .btn-block
                        button.btn.btn-pink.popup Записаться на приём
                .bg-down
            .doctor-detail
                .description-photo
                    .detail-description
                        .headline
                            h2 ВРАЧ
                            p Пантюхова Екатерина Викторовна
                        .detail-photo
                            img(src="./images/pantyukhina.png")
                        .description
                            p Врач Медицинский стаж 25 лет
                            p Образование:  1994 Смоленская государственная медицинская академия. Лечебный факультет Государственный институт усовершенствование врачей Министерства обороны Дерматовенерология
                            p Российская Медицинская Академия Постдипломного образования Врачебная косметология.
                            p Имеет сертификаты следующих методик:
                            p - действующие сертификаты "Врач дерматовенеролог", "Врач косметолог"
                            p Процедуры: Плазмолифтинг, Озонотерапия, Ревитализация, Ботулинотерапия, Контурная пластика, Мезотерапия, Нитевой лифтинг, Эксфолиативная терапия; Аппаратная косметология: фракционное лазерное омоложение, коррекция гиперпигментаций, рубцов, стрий, фотоэпиляция, фотоомоложение, лечение купероза, розацеа, телеангиэктазий.
            .white-bg
            .doctor-detail
                .description-photo
                    .detail-description
                        .headline
                            h2 ВРАЧ
                            p Захирова Айгуль Илнуровна
                        .detail-photo
                            img(src="./images/kuptcova.png")
                        .description

            .white-bg
