.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 Инъекционная косметология
                p  Биореструктуризация
            .cards
                .card-item
                    .services-photo
                        img(src="./images/bio-r-1.png")
                    .description
                        h3 SKIN B
                        h4 Для пациентов 25-35 лет
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="bio-r-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-r-2.png")
                    .description
                        h3 SKIN OX
                        h4 Для пациентов 35-45 лет
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="bio-r-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-r-3.png")
                    .description
                        h3 SKIN R
                        h4 Для пациентов старше 45 лет
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="bio-r-3_detail.html") Подробнее
