.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 БИнъекционная косметология
                p  Биоревитализация
            .cards
                .card-item
                    .services-photo
                        img(src="./images/bio-1.png")
                    .description
                        h3 TEOSYAL MESO
                        h4 Биоревитализация TEOSYAL MESO (Теосиаль Мезо) - 1мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-2.png")
                    .description
                        h3 TEOSEYAL MESO EXPERT
                        h4 Биоревитализация TEOSYAL MESO EXPERT (Теосиаль Мезо Эксперт) - 3мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-3.png")
                    .description
                        h3 Juvederm volite
                        h4 Биоревитализация Juvederm volite - 1мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-3_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-4.png")
                    .description
                        h3 IAL SYSTEM
                        h4 Биоревитализация IAL SYSTEM (Иал систем) - 1,1мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-4_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-5.png")
                    .description
                        h3 IAL SYSTEM ACP
                        h4 Биоревитализация IAL SYSTEM ACP (Иал систем) - 1,1 мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-5_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-6-1.png")
                    .description
                        h3 IAL SYSTEM
                        h4 Биоревитализация IAL SYSTEM (Иал систем) - 0,6мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-6_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-6.png")
                    .description
                        h3 FILORGA NCTF 135 HA+
                        h4 Биоревитализация FILORGA NCTF 135 HA+ (Франция) - 3мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-6_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-7.png")
                    .description
                        h3 FILORGA M-HA 10
                        h4 Биоревитализация FILORGA M-HA 10 (Франция) - 3мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-7_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-8.png")
                    .description
                        h3 FILORGA M-HA 18
                        h4 Биоревитализация FILORGA M-HA 18 (Франция) - 1мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-8_detail.html") Подробнее
                //.card-item
                //    .services-photo
                //        img(src="./images/bio-9.png")
                //    .description
                //        h3 FILORGA EB
                //        h4 Биоревитализация FILORGA EB (Франция) - 3мл
                //        //.equipment
                //        //    p Оборудование:
                //        //    p
                //        .code
                //            p Код мед. услуги:
                //            p А16.01.026
                //        .doctor
                //            p Врач:
                //            p Пантюхова Екатерина Викторовна
                //            p Захирова Айгуль Илнуровна
                //            p Купцова Алина Валентиновна
                //        .btn-block
                //            a.btn(href="bio-9_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-10.png")
                    .description
                        h3 Мезовартон
                        h4 Биоревитализация Мезовартон
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-10_detail.html") Подробнее

                .card-item
                    .services-photo
                        img(src="./images/bio-11.png")
                    .description
                        h3 Restylane Vital
                        h4 Биоревитализация Restylane Vital
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-11_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-12.png")
                    .description
                        h3 Restylane Vital Lite
                        h4 Биоревитализация Restylane Vital Lite
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-12_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-13.png")
                    .description
                        h3 Restylane Tach
                        h4 Биоревитализация Restylane Tach
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-13_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-14.png")
                    .description
                        h3 Juvederm Hydrate
                        h4 Биоревитализация Juvederm Hydrate - 1мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-14_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-15.png")
                    .description
                        h3 Redensity - 1
                        h4 Биоревитализация Redensity - 1мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-15_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-16.png")
                    .description
                        h3 Redensity - 2
                        h4 Биоревитализация Redensity - 3мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-16_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-19.png")
                    .description
                        h3 MESO EYE C71
                        h4 Биоревитализация MESO EYE - 1мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-19_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-20.png")
                    .description
                        h3 MESO Sculp
                        h4 Биоревитализация MESO Sculp - 1мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-20_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-18.png")
                    .description
                        h3 Profhilo
                        h4 Биоревитализация Profhilo - 2мл
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-18_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-17.png")
                    .description
                        h3 XANTHIN F199
                        h4 Биоревитализация MESO XANTHIN F199
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-17_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-21.png")
                    .description
                        h3 Крем Эмла
                        h4 Биоревитализация Обезболивающий крем
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-21_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bio-22.png")
                    .description
                        h3 Канюля
                        h4 Канюля гибкая для биоревитализации
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А16.01.026
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="bio-22_detail.html") Подробнееx1x§
