.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 Инъекционная косметология
                p  Ботулинотерапия
            .cards
                .card-item
                    .services-photo
                        img(src="./images/bt-1.png")
                    .description
                        h3 Allergan
                        h4 Ботулинотерапия Botox Allerga (150 единиц)
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А11.01.010
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="bt-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bt-2.png")
                    .description
                        h3 Relatox
                        h4 Ботулинотерапия Botox Relatox (1 единица)
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А11.01.010
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="bt-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bt-3.png")
                    .description
                        h3 Disport
                        h4 Ботулинотерапия Botox Disport (1 единица)
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А11.01.010
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="bt-3_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bt-4.png")
                    .description
                        h3 Xeomin
                        h4 Ботулинотерапия Botox Xeomin (1 единица)
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А11.01.010
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="bt-4_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/bt-5.png")
                    .description
                        h3 Lantox
                        h4 Ботулинотерапия Botox Lantox (1 единица)
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А11.01.010
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="bt-5_detail.html") Подробнее
