.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .service-detail
            .page-title
                h2 Прокол ушей
                p  Прокол ушей с серьгой (пистолет)
            .service-detail__detail
                img(src="./images/ears.png")
                .detail-description
                    p Правильно подобранные украшения позволяют грамотно привлечь к себе внимание, разнообразить отношения, сделать жизнь более яркой – в самом прямом смысле слова. В клинике «Осознанная молодость» мы поможем Вам воплотить в жизнь любые фантазии и сделать Вашу внешность более пикантной и неотразимой!
                    p Проконсультируйтесь со специалистом и составьте свою программу на пути к совершенству!
                    p Цена: 2800 &#8381;
                    .btn-block
                        button.btn.btn-pink.popup Записаться на приём
                .bg-down
            .doctor-detail
                include ../doctors/_doctor-1
            .white-bg
            .doctor-detail
                include ../doctors/_doctor-2
            .white-bg
