.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 Косметические услуги
                p  Прокол ушей
            .cards
                .card-item
                    .services-photo
                        img(src="./images/ears.png")
                    .description
                        h3 Уши
                        h4 Прокол ушей с серьгой (пистолет)
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А21.01.008
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="ears_detail.html") Подробнее

