.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЭПИЛЯЦИЯ
                p  Электроэпиляция
            .cards
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_belly.png")
                    .description
                        h3 Тело
                        h4 Электроэпиляция тела
                        //.equipment
                        //    p Оборудование:
                        //    p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                        .btn-block
                            a.btn(href="electro_belly_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/face.png")
                    .description
                        h3 Лицо
                        h4 Электроэпиляция лица
                        //.equipment
                        //    p Оборудование:
                        //    p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                        .btn-block
                            a.btn(href="electro_face_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/electro-foot.png")
                    .description
                        h3 Зоны ног
                        h4 Электроэпиляция ног
                        //.equipment
                        //    p Оборудование:
                        //    p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                        .btn-block
                            a.btn(href="electro_bikini_detail.html") Подробнее
