.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 Гипергидроз
                p Гипергидроз
            .cards
                .card-item
                    .services-photo
                        img(src="./images/hydroz-1.png")
                    .description
                        h3 Подмышечные впадины
                        h4 Гипергидроз подмышечных впадин
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А11.01.003
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="hydroz-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/hydroz-2.png")
                    .description
                        h3 Ладони
                        h4 Гипергидроз ладоней
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А11.01.003
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="hydroz-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/hydroz-3.png")
                    .description
                        h3 Стопы
                        h4 Гипергидроз стоп
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А11.01.003
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="hydroz-3_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/hydroz-4.png")
                    .description
                        h3 Мезоботокс (лицо)
                        h4 Гипергидроз: мезоботокс (лицо)
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p А11.01.003
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="hydroz-4_detail.html") Подробнее

