.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 Косметические услуги
                p  Окрашивание бровей и ресниц
            .cards
                .card-item
                    .services-photo
                        img(src="./images/kosmetic-1.png")
                    .description
                        h3 Брови
                        h4 Коррекция бровей
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p 96.02.13.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="kosmetic-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/kosmetic-2.png")
                    .description
                        h3 Ресницы
                        h4 Окрашивание ресниц
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p 96.02.13.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="kosmetic-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/kosmetic-1.png")
                    .description
                        h3 Брови
                        h4 Окрашивание бровей
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p 96.02.13.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="kosmetic-3_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/kosmetic-2.png")
                    .description
                        h3 Ламинирование ресниц
                        h4 Ламинирование ресниц YUMI LASHES (Франция)
                        //.equipment
                        //    p Оборудование:
                        //    p
                        .code
                            p Код мед. услуги:
                            p 96.02.13.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="kosmetic-4_detail.html") Подробнее

