.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕРНАЯ ЭПИЛЯЦИЯ
                p  Эпиляция  тела
            .cards
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_bikini.png")
                    .description
                        h3 Бикини классическое
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_bikini_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_bikini_deep.png")
                    .description
                        h3 Бикини глубокое
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_bikini_deep_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_back.png")
                    .description
                        h3 Эпиляция спины
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_back_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_chest.png")
                    .description
                        h3 Эпиляция груди
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_chest_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_belly-1.png")
                    .description
                        h3 Эпиляция живота - 1
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_belly-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_belly.png")
                    .description
                        h3 Эпиляция живота
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_belly_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_loin.png")
                    .description
                        h3 Эпиляция поясницы
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_loin_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_buttock.png")
                    .description
                        h3 Эпиляция ягодиц
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_buttock_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_flash.png")
                    .description
                        h3 Единичная вспышка
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_flash_detail.html") Подробнее
