.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕРНАЯ ЭПИЛЯЦИЯ
                p  Комплексные процедуры по выгодной цене
            .cards
                .card-item
                    .services-photo
                        img(src="./images/duet-1.png")
                    .description
                        h3 Дуэт 1
                        h4 Тотальное бикини+подмышки
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_duet-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/duet-2.png")
                    .description
                        h3 Дуэт 2
                        h4 Тотальное бикини + голени ног
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_duet-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/duet-3.png")
                    .description
                        h3 Дуэт 3
                        h4 Ноги полностью + подмышки
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_duet-3_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/duet-4.png")
                    .description
                        h3 Дуэт 4
                        h4 Тотальное бикини + ноги полностью
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_duet-4_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/duet-5.png")
                    .description
                        h3 Дуэт 5
                        h4 Ноги полностью + руки полностью
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_duet-5_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/trio-1.png")
                    .description
                        h3 ТРИО - 1
                        h4 Бикини + подмышки + голени ног
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_trio-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/trio-2.png")
                    .description
                        h3 ТРИО - 2
                        h4 Бикини + подмышки + ноги полностью
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_trio-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/kvartet.png")
                    .description
                        h3 КВАРТЕТ
                        h4 Подмышки + бикини + ноги + руки
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_kvartet_detail.html") Подробнее

