.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕРНАЯ ЭПИЛЯЦИЯ
                p  Эпиляция  ног
            .cards
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_shin.png")
                    .description
                        h3 Эпиляция голени
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_shin_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_foot.png")
                    .description
                        h3 Эпиляция ног
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_foot-1_detail.html") Подробнее
