.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕРНАЯ ЭПИЛЯЦИЯ
                p  Мужская эпиляция
            .cards
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_men_chest.png")
                    .description
                        h3 Эпиляция груди
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_men_chest_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_men_belly.png")
                    .description
                        h3 Эпиляция живота
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_men_belly_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_men_back.png")
                    .description
                        h3 Эпиляция спины
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_men_back_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_men_armpits.png")
                    .description
                        h3 Подмышечной области
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_men_armpits_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_men_groin.png")
                    .description
                        h3 Паховая зона
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_men_groin_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_men_flash.png")
                    .description
                        h3 Единичная вспышка
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_men_flash_detail.html") Подробнее


