.services
    .pink-line
    .container
        .page-title
            h2 ЛАЗЕРНАЯ ЭПИЛЯЦИЯ
            p  Эпиляция  тела
    .container
        .cards
            .card-item
                .services-photo
                    img(src="./images/lh-bikini.png")
                .description
                    h3 Бикини классическое
                    h4 На аппарате PALOMAR Vectus
                    .equipment
                        p Оборудование:
                        p Palomar Vectus (USA)
                    .code
                        p Код мед. услуги:
                        p А14.01.013
                    .doctor
                        p Врач:
                        p Кабардаева Эльвира Леонидовна
                    .btn-block
                        button.btn Подробнее
            .card-item
                .services-photo
                    img(src="./images/lh-bikini.png")
                .description
                    h3 Бикини классическое
                    h4 На аппарате PALOMAR Vectus
                    .equipment
                        p Оборудование:
                        p Palomar Vectus (USA)
                    .code
                        p Код мед. услуги:
                        p А14.01.013
                    .doctor
                        p Врач:
                        p Кабардаева Эльвира Леонидовна
                    .btn-block
                        button.btn Подробнее
            .card-item
                .services-photo
                    img(src="./images/lh-bikini.png")
                .description
                    h3 Бикини классическое
                    h4 На аппарате PALOMAR Vectus
                    .equipment
                        p Оборудование:
                        p Palomar Vectus (USA)
                    .code
                        p Код мед. услуги:
                        p А14.01.013
                    .doctor
                        p Врач:
                        p Кабардаева Эльвира Леонидовна
                    .btn-block
                        button.btn Подробнее
            .card-item
                .services-photo
                    img(src="./images/lh-bikini.png")
                .description
                    h3 Бикини классическое
                    h4 На аппарате PALOMAR Vectus
                    .equipment
                        p Оборудование:
                        p Palomar Vectus (USA)
                    .code
                        p Код мед. услуги:
                        p А14.01.013
                    .doctor
                        p Врач:
                        p Кабардаева Эльвира Леонидовна
                    .btn-block
                        button.btn Подробнее
            .card-item
                .services-photo
                    img(src="./images/lh-bikini.png")
                .description
                    h3 Бикини классическое
                    h4 На аппарате PALOMAR Vectus
                    .equipment
                        p Оборудование:
                        p Palomar Vectus (USA)
                    .code
                        p Код мед. услуги:
                        p А14.01.013
                    .doctor
                        p Врач:
                        p Кабардаева Эльвира Леонидовна
                    .btn-block
                        button.btn Подробнее
            .card-item
                .services-photo
                    img(src="./images/lh-bikini.png")
                .description
                    h3 Бикини классическое
                    h4 На аппарате PALOMAR Vectus
                    .equipment
                        p Оборудование:
                        p Palomar Vectus (USA)
                    .code
                        p Код мед. услуги:
                        p А14.01.013
                    .doctor
                        p Врач:
                        p Кабардаева Эльвира Леонидовна
                    .btn-block
                        button.btn Подробнее

