.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕРНАЯ ЭПИЛЯЦИЯ
                p  Эпиляция  рук
            .cards
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_armpits.png")
                    .description
                        h3 Эпиляция подмышечных впадин
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_armpits_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_hand-1.png")
                    .description
                        h3 Эпиляция рук - 1
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_hand-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_hand-2.png")
                    .description
                        h3 Эпиляция рук - 2
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_hand-2_detail.html") Подробнее

