.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .service-detail
            .page-title
                h2 Мужская эпиляция
                p  Лазерная эпиляция подмышечной области у мужчин
            .service-detail__detail
                img(src="./images/laser_hair_removal_men_armpits.png")
                .detail-description
                    p С аппаратом PALOMAR Vectus (США), при лазерной эпиляции подмышечной области полностью исчезают любые неприятные ощущения и процедура становится совершенно безболезненной. Результат гарантирован с любым типом кожи и волос.
                    p Кроме того, сеанс занимает от силы полчаса, что делает её ещё более удобной. Более подробные консультации по телефону!
                    p Цена: 4000 &#8381;
                    .btn-block
                        button.btn.btn-pink.popup Записаться на приём
                .bg-down
            .doctor-detail
                include ../doctors/_doctor-1
            .white-bg
            .doctor-detail
                include ../doctors/_doctor-2
            .white-bg
