.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕРНАЯ ЭПИЛЯЦИЯ
                p  Эпиляция  лица
            .cards
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_lip.png")
                    .description
                        h3 Верхняя губа
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_lip_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_chin.png")
                    .description
                        h3 Эпиляция подбородка
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_chin_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_temple.png")
                    .description
                        h3 Височная область
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_temple_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_eyebrows.png")
                    .description
                        h3 Брови
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_eyebrows_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_brow.png")
                    .description
                        h3 Лоб
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_brow_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_cheek.png")
                    .description
                        h3 Эпиляция щек
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_cheek_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_face.png")
                    .description
                        h3 Эпиляция лица
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_face_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_whiskers.png")
                    .description
                        h3 Эпиляция бакенбарды
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_whiskers_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_ear.png")
                    .description
                        h3 Эпиляция ушей
                        h4 На аппарате PALOMAR Vectus
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.013
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Закирова Айгуль Ильнуровна
                        .btn-block
                            a.btn(href="laser_hair_removal_ear_detail.html") Подробнее
