.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .service-detail
            .page-title
                h2 Необляционное омоложение(комплексы)
                p  Необляционное омоложение лица + шеи + декольте
            .service-detail__detail
                img(src="./images/no-complex-2.png")
                .detail-description
                    p Комплексно омолодите кожу лица, шеи и зоны декольте без операций и повреждения ее поверхности на необляционных лазерах Palomar ICON. В силу использования профессионального оборудования и высокого опыта наших специалистов процедура не требует наркоза, проходит быстро и безболезненно.
                    p Кроме того, мы предлагаем и другие процедуры для удаления морщин, подтяжки лица, омоложения кожи. Оставьте заявку и мы проконсультируем Вас по любым вопросам.
                    p Цена: 35000 &#8381;
                    .btn-block
                        button.btn.btn-pink.popup Записаться на приём
                .bg-down
            .doctor-detail
                include ../doctors/_doctor-1
            .white-bg
            .doctor-detail
                include ../doctors/_doctor-2
            .white-bg
