.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕР PALOMAR ICON
                p  Необляционное омоложение(комплексы)
            .cards
                .card-item
                    .services-photo
                        img(src="./images/no-complex-1.png")
                    .description
                        h3 Лицо + шея
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon MAX IR
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="no-complex-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/no-complex-2.png")
                    .description
                        h3 Лицо + шея + декольте
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon MAX IR
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="no-complex-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/no-complex-3.png")
                    .description
                        h3 Лицо + шея + декольте + кисти рук
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon MAX IR
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="no-complex-3_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/no-complex-4.png")
                    .description
                        h3 Шея + декольте
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon MAX IR
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="no-complex-4_detail.html") Подробнее
