.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕР PALOMAR ICON
                p  Необляционное омоложение
            .cards
                .card-item
                    .services-photo
                        img(src="./images/no-face.png")
                    .description
                        h3 Необляционное омоложение лица
                        //h4
                        .equipment
                            p Оборудование:
                            p PALOMAR ICON 1540
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="no_face_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/no-neck.png")
                    .description
                        h3 Необляционное омоложение шеи
                        //h4
                        .equipment
                            p Оборудование:
                            p PALOMAR ICON 1540
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="no_neck_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/no-decolte.png")
                    .description
                        h3 Необляционное омоложение зоны декольте
                        //h4
                        .equipment
                            p Оборудование:
                            p PALOMAR ICON 1540
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="no_decolte_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/no-hand.png")
                    .description
                        h3 Необляционное омоложение кистей рук
                        //h4
                        .equipment
                            p Оборудование:
                            p PALOMAR ICON 1540
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="no_hand_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/no-eye.png")
                    .description
                        h3 Необляционное омоложение зоны вокруг глаз
                        //h4 Сахарная эпиляция верхней губы
                        .equipment
                            p Оборудование:
                            p PALOMAR ICON 1540
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="no_eye_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/no-face.png")
                    .description
                        h3 Мелазма 1х1
                        //h4
                        .equipment
                            p Оборудование:
                            p PALOMAR ICON 1540
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="no_malazma_detail.html") Подробнее
