.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕР PALOMAR ICON
                p  Удаление пигментных пятен
            .cards
                .card-item
                    .services-photo
                        img(src="./images/pigment-1.png")
                    .description
                        h3 Удаление сосудистых звездочек (купероз) на щеках/скулах
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon Max G
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="pigment-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/pigment-2.png")
                    .description
                        h3 Удаление сосудистых звездочек (купероз) на крыльях носа
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon Max G
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="pigment-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/pigment-3.png")
                    .description
                        h3 Удаление сосудистых звездочек (купероз) в области носа
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon Max G
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="pigment-3_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/pigment-4.png")
                    .description
                        h3 Удаление сосудистых звездочек (купероз) на подбородке
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon Max G
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="pigment-4_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/pigment-5.png")
                    .description
                        h3 Удаление пигментных пятен на лбу
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon Max G
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="pigment-5_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/pigment-6.png")
                    .description
                        h3 Удаление пигментных пятен на всем лице
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon Max G
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="pigment-6_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/pigment-7.png")
                    .description
                        h3 Удаление пигментных пятен в зоне декольте
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon Max G
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="pigment-7_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/pigment-8.png")
                    .description
                        h3 Удаление пигментных пятен на кистях рук
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon Max G
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="pigment-8_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/pigment-9.png")
                    .description
                        h3 Один импульс Palomar <br> Max G
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon Max G
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="pigment-9_detail.html") Подробнее
