.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕР PALOMAR ICON
                p  Лечение растяжек, рубцов
            .cards
                .card-item
                    .services-photo
                        img(src="./images/scarring-1.png")
                    .description
                        h3 Лечение растяжек (малая зона 1х1)
                        //h4
                        .equipment
                            p Оборудование:
                            p PALOMAR ICON 1540
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="scarring-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/scarring-2.png")
                    .description
                        h3 Лечение растяжек (средняя зона 5х5)
                        //h4
                        .equipment
                            p Оборудование:
                            p PALOMAR ICON 1540
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="scarring-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/scarring-3.png")
                    .description
                        h3 Лечение растяжек (большая зона 10х10)
                        //h4
                        .equipment
                            p Оборудование:
                            p PALOMAR ICON 1540
                        .code
                            p Код мед. услуги:
                            p А22.01.002
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Кабардаева Эльвира Леонидовна
                        .btn-block
                            a.btn(href="scarring-3_detail.html") Подробнее
