.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .service-detail
            .page-title
                h2 Сахарная эпиляция
                p  Сахарная эпиляция зоны бикини (классическое)
            .service-detail__detail
                img(src="./images/laser_hair_removal_bikini.png")
                .detail-description
                    p Сахарная эпиляция классической зоны бикини наименее болезненна, исключает врастание волосков, не травмирует мелкие сосуды, не оставляет отёков и покраснений в обработанных областях, может использоваться при варикозной болезни и при любой длине волос.
                    p В сахарной эпиляции мы применяем продукцию Beauty Image производства Испании.
                    p Цена: 900 &#8381;
                    .btn-block
                        button.btn.btn-pink.popup Записаться на приём
                .bg-down
            .doctor-detail
                include ../doctors/_doctor-3
            .white-bg
