.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .service-detail
            .page-title
                h2 Сахарная эпиляция
                p Сахарная эпиляция бедер
            .service-detail__detail
                img(src="./images/waxing-foot-3.png")
                .detail-description
                    p Сахарная эпиляция бедер наименее болезненна, исключает врастание волосков, не травмирует мелкие сосуды, не оставляет отёков и покраснений в обработанных областях, может использоваться при варикозной болезни и при любой длине волос.
                    p В сахарной эпиляции мы применяем продукцию Beauty Image производства Испании.
                    p Цена: 900 &#8381;
                    .btn-block
                        button.btn.btn-pink.popup Записаться на приём
                .bg-down
            .doctor-detail
                .description-photo
                    .detail-description
                        .headline
                            h2 ГЛАВНЫЙ ВРАЧ
                            p Берелавичус  Станислав Валерьевич
                        .detail-photo
                            img(src="./images/boss.png")
                        .description
                            p Доктор медицинских наук, профессор. Окончил лечебный факультет Российский государственный медицинский университет (РГМУ).
                            p Имеет ряд усовершенствований в том числе:
                            p 1. радиационная безопасность пациентов и персонала при проведении рентгенологических исследований;
                            p 2. организация работы с лекарственными препаратами, содержащими наркотические средства, ядовитые, сильнодействующие и психотропные вещества;
                            p 3. экспертиза временной нетрудоспособности и контроль качества медпомощи;
                            p 4. организация здравоохранения и общественного здоровья.
            .white-bg
            .doctor-detail
                .description-photo
                    .detail-description
                        .headline
                            h2 Врач-дерматокосметолог
                            p Закирова Айгуль Ильнуровна
                        .detail-photo
                            img(src="./images/zakirova.png")
                        .description
                            p В 2016г окончила Кировскую государственную  медицинскую академию.
                            p Владеет следующими методиками:
                            p - лазерная эпиляция на аппарате Palomar Vectus (США);
                            p - лазерное фракционное омоложение, удаление стрий, глубокий термолифтинг различных участков, фотоомоложение, удаление пигментных пятен и мелких сосудов на лице и других участках тела на аппарате Palomar Icon (США)
                            p - применение химических  пилингов;
                            p - мезотерапия/биоревитализация/ биоармирование;
                            p - ботулинотерапия;
                            p - эндосфэратерапия;
                            p - контурная пластика.
            .white-bg
