.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЭПИЛЯЦИЯ
                p  Сахарная эпиляция
            .cards
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_lip.png")
                    .description
                        h3 Верхняя губа
                        h4 Сахарная эпиляция верхней губы
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_lip_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_chin.png")
                    .description
                        h3 Эпиляция подбородка
                        h4 Сахарная эпиляция подбородка
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_chin_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_cheek.png")
                    .description
                        h3 Эпиляция щек
                        h4 Сахарная эпиляция щек
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_cheek_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_hand-1.png")
                    .description
                        h3 Эпиляция рук
                        h4 Сахарная эпиляция рук
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_hand-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_armpits.png")
                    .description
                        h3 Эпиляция подмышечных впадин
                        h4 Сахарная эпиляция подмышечных впадин
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_armpits_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_belly-1.png")
                    .description
                        h3 Эпиляция живота
                        h4 Сахарная эпиляция живота
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_belly_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_loin.png")
                    .description
                        h3 Эпиляция поясницы
                        h4 Сахарная эпиляция поясницы
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_loin_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_bikini.png")
                    .description
                        h3 Бикини классическое
                        h4 Сахарная эпиляция зоны бикини (классическое)
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_bikini_detail.html") Подробнее

                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_bikini_deep.png")
                    .description
                        h3 Бикини глубокое
                        h4 Сахарная эпиляция зоны бикини (глубокое)
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_bikini-deep_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/waxing-foot-1.png")
                    .description
                        h3 Эпиляция ног
                        h4 Сахарная эпиляция ног (полностью)
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_foot-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/waxing-foot-2.png")
                    .description
                        h3 Эпиляция голени
                        h4 Сахарная эпиляция голени
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_foot-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/waxing-foot-3.png")
                    .description
                        h3 Эпиляция бедер
                        h4 Сахарная эпиляция бедер
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="sugar_foot-3_detail.html") Подробнее
