.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЛАЗЕР PALOMAR ICON
                p  Термолифтинг
            .cards
                .card-item
                    .services-photo
                        img(src="./images/termo-1.png")
                    .description
                        h3 Бедро(внутри)
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon MAX IR
                        .code
                            p Код мед. услуги:
                            p А20.30.023
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="termo-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/termo-2.png")
                    .description
                        h3 Руки(внутри)
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon MAX IR
                        .code
                            p Код мед. услуги:
                            p А20.30.023
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="termo-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/termo-3.png")
                    .description
                        h3 Живот
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon MAX IR
                        .code
                            p Код мед. услуги:
                            p А20.30.023
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="termo-3_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/termo-5.png")
                    .description
                        h3 Лицо
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon MAX IR
                        .code
                            p Код мед. услуги:
                            p А20.30.023
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="termo-4_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/termo-4.png")
                    .description
                        h3 Ягодицы
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon MAX IR
                        .code
                            p Код мед. услуги:
                            p А20.30.023
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="termo-5_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/termo-6.png")
                    .description
                        h3 Одиночный импульс
                        //h4
                        .equipment
                            p Оборудование:
                            p Palomar Icon MAX IR
                        .code
                            p Код мед. услуги:
                            p А20.30.023
                        .doctor
                            p Врач:
                            p Пантюхова Екатерина Викторовна
                            p Захирова Айгуль Илнуровна
                        .btn-block
                            a.btn(href="termo-6_detail.html") Подробнее
