.container-main
    .container-menu
        nav.nav-menu
            ul
                li
                    a.menu-item(href="#") Главная страница
                li
                    a.menu-item(href="#") О центре
                li
                    a.menu-item(href="#") Услуги
                li
                    a.menu-item(href="#") Наши цены
                li
                    a.menu-item(href="#") Наши врачи
                li
                    a.menu-item(href="#") Отзывы
                li
                    a.menu-item(href="#") Контакты
    .container-content
        .services
            .container1
                .page-title
                    h2 ЛАЗЕРНАЯ ЭПИЛЯЦИЯ
                    p  Эпиляция  тела
            .container1
                .cards
                    .card-item
                        .services-photo
                            img(src="./images/lh-bikini.png")
                        .description
                            h3 Бикини классическое
                            h4 На аппарате PALOMAR Vectus
                            .equipment
                                p Оборудование:
                                p Palomar Vectus (USA)
                            .code
                                p Код мед. услуги:
                                p А14.01.013
                            .doctor
                                p Врач:
                                p Кабардаева Эльвира Леонидовна
                            .btn-block
                                button.btn Подробнее
                    .card-item
                        .services-photo
                            img(src="./images/lh-bikini.png")
                        .description
                            h3 Бикини классическое
                            h4 На аппарате PALOMAR Vectus
                            .equipment
                                p Оборудование:
                                p Palomar Vectus (USA)
                            .code
                                p Код мед. услуги:
                                p А14.01.013
                            .doctor
                                p Врач:
                                p Кабардаева Эльвира Леонидовна
                            .btn-block
                                button.btn Подробнее
                    .card-item
                        .services-photo
                            img(src="./images/lh-bikini.png")
                        .description
                            h3 Бикини классическое
                            h4 На аппарате PALOMAR Vectus
                            .equipment
                                p Оборудование:
                                p Palomar Vectus (USA)
                            .code
                                p Код мед. услуги:
                                p А14.01.013
                            .doctor
                                p Врач:
                                p Кабардаева Эльвира Леонидовна
                            .btn-block
                                button.btn Подробнее
                    .card-item
                        .services-photo
                            img(src="./images/lh-bikini.png")
                        .description
                            h3 Бикини классическое
                            h4 На аппарате PALOMAR Vectus
                            .equipment
                                p Оборудование:
                                p Palomar Vectus (USA)
                            .code
                                p Код мед. услуги:
                                p А14.01.013
                            .doctor
                                p Врач:
                                p Кабардаева Эльвира Леонидовна
                            .btn-block
                                button.btn Подробнее
                    .card-item
                        .services-photo
                            img(src="./images/lh-bikini.png")
                        .description
                            h3 Бикини классическое
                            h4 На аппарате PALOMAR Vectus
                            .equipment
                                p Оборудование:
                                p Palomar Vectus (USA)
                            .code
                                p Код мед. услуги:
                                p А14.01.013
                            .doctor
                                p Врач:
                                p Кабардаева Эльвира Леонидовна
                            .btn-block
                                button.btn Подробнее
                    .card-item
                        .services-photo
                            img(src="./images/lh-bikini.png")
                        .description
                            h3 Бикини классическое
                            h4 На аппарате PALOMAR Vectus
                            .equipment
                                p Оборудование:
                                p Palomar Vectus (USA)
                            .code
                                p Код мед. услуги:
                                p А14.01.013
                            .doctor
                                p Врач:
                                p Кабардаева Эльвира Леонидовна
                            .btn-block
                                button.btn Подробнее

