.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .services
            .page-title
                h2 ЭПИЛЯЦИЯ
                p  Восковая эпиляция
            .cards
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_lip.png")
                    .description
                        h3 Верхняя губа
                        h4 Восковая эпиляция верхней губы
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_lip_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_chin.png")
                    .description
                        h3 Эпиляция подбородка
                        h4 Восковая эпиляция подбородка
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_chin_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_cheek.png")
                    .description
                        h3 Эпиляция щек
                        h4 Восковая эпиляция щек
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_cheek_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_hand-1.png")
                    .description
                        h3 Эпиляция рук
                        h4 Восковая эпиляция рук
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_hand-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_armpits.png")
                    .description
                        h3 Эпиляция подмышек
                        h4 Восковая эпиляция подмышек
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_armpits_detail.html") Подробнее

                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_belly-1.png")
                    .description
                        h3 Эпиляция живота
                        h4 Эпиляция живота
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_belly_detail.html") Подробнее

                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_loin.png")
                    .description
                        h3 Эпиляция поясницы
                        h4 Восковая эпиляция поясницы
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_loin_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_bikini.png")
                    .description
                        h3 Бикини классическое
                        h4 Восковая эпиляция зоны бикини (классическое)
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_bikini_detail.html") Подробнее

                .card-item
                    .services-photo
                        img(src="./images/laser_hair_removal_bikini_deep.png")
                    .description
                        h3 Бикини глубокое
                        h4 Восковая эпиляция зоны бикини (глубокое)
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_bikini-deep_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/waxing-foot-1.png")
                    .description
                        h3 Эпиляция ног
                        h4 Восковая эпиляция ног (полностью)
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_foot-1_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/waxing-foot-2.png")
                    .description
                        h3 Эпиляция голени
                        h4 Восковая эпиляция голени
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_foot-2_detail.html") Подробнее
                .card-item
                    .services-photo
                        img(src="./images/waxing-foot-3.png")
                    .description
                        h3 Эпиляция бедер
                        h4 Восковая эпиляция бедер
                        .equipment
                            p Оборудование:
                            p Palomar Vectus (USA)
                        .code
                            p Код мед. услуги:
                            p А14.01.012
                        .doctor
                            p Врач:
                            p Купцова Алина Валентиновна
                        .btn-block
                            a.btn(href="wixing_foot-3_detail.html") Подробнее
