.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .service-detail
            .page-title
                h2 Восковая эпиляция
                p  Восковая эпиляция голени
            .service-detail__detail
                img(src="./images/waxing-foot-2.png")
                .detail-description
                    p Восковая эпиляция голени зоны подойдет идеально, чтобы избавиться от коротких жёстких волосков!
                    p Мы используем средства от Beauty Image (Испания) - они сводят на нет раздражения и легко удаляются без каких-либо следов. Записывайтесь на консультацию - подробно ответим на все вопросы!
                    p Цена: 1500 &#8381;
                    .btn-block
                        button.btn.btn-pink.popup Записаться на приём
                .bg-down
            .doctor-detail
                include ../doctors/_doctor-3
            .white-bg
