$text-color: #605458;
$text-color-dark: #6F6266;
$bg: #FFF2F7;
$bg-dark: #938086;
$white: #ffffff;

ul {
  padding: 0;
  margin: 0;
}

.btn-block {
  a {
    text-decoration: none;
  }
  a.btn {
    display: inline-block;
  }
}

.container-main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: $bg;

}
//Меню
.container-menu {
  height: 100%;
  position: relative;
  z-index: 1000;
}
.container-menu,
.container-menu-main{
  min-width: 330px;
  background-color: $bg;
  .nav-menu {
    position: relative;
    li {
      list-style: none;
      text-align: center;
    }
    a {
      display: block;
      padding: 15px 0;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      color: $text-color-dark;
      width: 100%;
      transition: .3s ease-in-out;
      &:hover {
        background-color: $bg-dark;
        color: $white;
      }
    }
    .sub-menu {
      min-height: 100%;
      position: absolute;
      background-color: $bg;
      border-left: 5px solid $white;
      border-right: 5px solid $white;
      width: 100%;
      left: -100%;
      top: 0;
      z-index: 100;
      opacity: 0;
      transition: .5s opacity;
    }
    .sub {
      &:hover .sub-menu{
        opacity: 1;
        left: 100%;
      }
    }
    .sub-sub-menu {
      min-height: 100%;
      position: absolute;
      background-color: $bg;
      border-left: 5px solid $white;
      border-right: 5px solid $white;
      width: 100%;
      left: -200%;
      top: 0;
      z-index: 100;
      opacity: 0;
      transition: .5s opacity;
    }
    .sub-sub {
      &:hover .sub-sub-menu {
        opacity: 1;
        left: 100%;
      }
    }
  }
}

.sub-arrow {
  &:after {
    content: '>';
    position: absolute;
    right: 10px;
  }
}

.container-content {
  width: 100%;
  background-color: $white;
}
.header,
.footer {
  max-width: 1920px;
  margin: 0 auto;
}
.one-title {
  margin-top: 5px;
  margin-bottom: 61px;
}

.page-title {
  margin-top: -90px;
  margin-bottom: 50px;
  text-align: center;
}
.services {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .page-title {
    h2 {
      text-transform: uppercase;
    }
  }
  .card-item {
    flex-basis: 30%;
    min-width: 320px;
    border-radius: 5px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 82px;
    background-color: $bg;
    padding-bottom: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .services-photo {
      img {
        width: 100%;
      }
    }
    .btn {
      font-weight: normal;
      font-size: 15px;
    }
  }
  .description {
    width: 100%;
    padding: 22px 10px;
    .btn-block {
      text-align: center;
      margin-top: 30px;
    }
    h3 {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 9px;
    }
    h4 {
      text-align: center;
      font-weight: normal;
      font-size: 17px;
      margin-bottom: 25px;
    }
    p {
      font-weight: normal;
      font-size: 17px;
    }
  }
  .code {
    display: flex;
    padding-left: 10px;
    margin: 5px 0;
    p:nth-child(1) {
      margin-right: 10px;
    }
  }
  .equipment,
  .doctor {
    padding-left: 10px;
    p:nth-child(1){
      margin-right: 10px;

    }
  }
}
.services__description {
  text-align: center;
  display: none;
  .name-service {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .detail-service {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1313px) {
  .cards {
    justify-content: center;
  }
}
@media screen and (max-width: 1200px){
  .services__description {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .container-menu {
    display: none;
  }
}
@media screen and (max-width: 425px){
  .services {
    .card-item {
      flex-basis: 100%;
      min-width: auto;
      width: 100%;
    }
    .equipment,
    .code,
    .doctor {
      display: block;
      margin-bottom: 5px;
    }
  }
}

//Страницы с описанием сервиса
.service-detail {
  .service-detail__detail {
    display: flex;
    padding-bottom: 55px;
    padding-left: 20px;
    position: relative;
    .bg-down {
      width: 154px;
      height: 147px;
      background-image: url("../images/down-about.png");
      background-repeat: no-repeat;
      background-position: left bottom;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .detail-description {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin-bottom: 20px;
    }
  }
  .btn-pink {
    background-color: $bg;
    color: $text-color;
    font-size: 16px;
    position: relative;
    z-index: 2;
    margin-top: 36px;
    &:hover {
      background-color: #938086;
      color: $white;
    }
  }
  .doctor-detail {
    background-color: $bg;
    .description-photo {
      height: 530px;
      padding-right: 50px;
      position: relative;
      z-index: 100;
    }
    h2 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 5px;
    }
    p {
      font-size: 20px;
      margin-bottom: 10px;
    }
    .detail-description {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 530px;
      p {
        font-size: 17px;
      }
      .detail-photo {
        height: 530px;
        width: 371px;
        margin-left: auto;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
        &:after {
          content: '';
          width: 371px;
          height: 530px;
          background-color: $bg-dark;
          position: absolute;
          right: -30px;
          bottom: -30px;
          z-index: -1;
        }
      }
    }
    .headline,
    .description {
      width: 600px;
      margin-right: auto;
    }
    .description {
      padding-left: 15px;
      padding-top: 20px;
    }
    .detail-photo {
      order: 3;
    }
    .headline {
      padding-top: 15px;
      padding-left: 100px;
      h2 {
        margin-bottom: 10px;
      }
    }
  }
  .white-bg {
    height: 132px;
    position: relative;
    z-index: -5;
  }
}
@media screen and (max-width: 1400px) {
  .service-detail {
    .detail-description {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
@media screen and (max-width: 1350px){
  .service-detail {
    .doctor-detail {
      .detail-description {
        .detail-photo {
          &:after {
            display: none;
          }
        }
      }
    }
    .service-detail__detail {
      .bg-down {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .service-detail {
    .doctor-detail {
      .headline,
      .description {
        width: 530px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .service-detail {
    .doctor-detail {
      height: auto;
      .description-photo {
        height: auto;
        .detail-description {
          display: block;
          height: auto;
          padding-bottom: 20px;
        }
        .detail-photo {
          margin: 0 auto;
        }
      }
      .headline,
      .description {
        width: 100%;
      }
    }
  }
  .page-title {
    margin-top: 0;
  }
}

@media screen and (max-width: 1100px) {
  .service-detail {
    .doctor-detail {
      .detail-description {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .service-detail {
    .service-detail__detail {
      display: block;
      text-align: center;
      .detail-description {
        text-align: left;
        padding-left: 0;
        padding-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .service-detail {
    .detail-description {
      padding-left: 0;
    }
    .doctor-detail {
      .headline,
      .description {
        padding-left: 15px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .service-detail {
    .doctor-detail {
      .description-photo {
        .detail-photo {
          width: 80%;
          height: auto;
        }
      }
    }
    .service-detail__detail {
      padding-left: 0;
      img {
        width: 80%;
      }
    }
    .white-bg {
      height: 50px;
    }
    .service-detail__detail {
      .detail-description {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}



