$text-color: #605458;
$text-color-dark: #6F6266;
$bg: #FFF2F7;
$bg-dark: #938086;
$white: #ffffff;

ul {
  padding: 0;
  margin: 0;
}
.container-main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: $bg;
}
.container-menu {
  width: 330px;
  height: 100%;
  background-color: $bg;
  .nav-menu {
    li {
      list-style: none;
      text-align: center;
    }
    a {
      display: block;
      padding: 15px 0;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      color: $text-color-dark;
      width: 100%;
      transition: .3s ease-in-out;
      &:hover {
        background-color: $bg-dark;
        color: $white;
      }
    }
  }
}
.container-content {
  width: 100%;
  background-color: $white;
  .services {
    .card-item {
      min-width: 25%;
      height: auto;
    }
  }
}
.header,
.footer {
  max-width: 1920px;
  margin: 0 auto;
}
