script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
script(src="http://example.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1")
script(src="./js/libs.min.js")
script(src="./js/main.js")
