.header
    .logo
        a(href="#")
            img(src="./images/logo3.svg")
    .header__description
        p.name-service ЛАЗЕРНАЯ ЭПИЛЯЦИЯ
        p.detail-service Эпиляция  тела
    .header__phone-inside
        a(href="tel:+79852265358")
            img(src="./images/phone-icon.svg")
        .mobile-menu-inside
            .mobile-btn
                span
                span
                span
.header__bg
