.header
    .logo
        a(href="#") Осознанная<br>молодость
            img(src="./images/only-logo.svg")
    .header__description
        p.name-service
        p.detail-service
    .header__phone-inside
        .header__phone
            a(href="tel:+79852265358") +7 (985)226 53 58
        a.phone-icon(href="tel:+79852265358")
            img(src="./images/phone-icon.svg")
        .mobile-menu-inside
            .mobile-btn
                span
                span
                span
//.header__bg
