footer.footer
  .container
    .footer-big
      .logo-phone
        a(href="#")
          img(src="./images/logo-bw.svg")
        a.phone-link(href="tel:+79684988169") +7 (968) 498-81-69
        a.phone-link(href="tel:+79852265358") +7 (985) 226-53-58
      .btn-block
        button.btn Заказать звонок
        .icon-block
          a(href="#" target="_blank")
            img(src="./images/fb.svg")
          a(href="#" target="_blank")
            img(src="./images/vk.svg")
          a(href="#" target="_blank")
            img(src="./images/telegram.svg")
          a(href="#" target="_blank")
            img(src="./images/insta.svg")
  .footer-small
    a(href="#") Лицензия
    a(href="#") Наши специалисты
    a(href="#") Клиника ОМ
    a(href="#") Пользовательское соглашение
