footer.footer
  .container
    .footer-big
      .logo-phone
        a(href="#")
          img(src="./images/logo-bw.svg")
        p +7 (968) 498-81-69
        p +7 (985) 226-53-58
      .btn-block
        button.btn Заказать звонок
        .icon-block
          a(href="#" target="_blank")
            img(src="./images/fb.svg")


