
.header {
  padding: 25px 56px 30px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__phone {
  color: #6F6266; }

.header__bg {
  background-image: url("../images/header-phone.png");
  width: 451px;
  height: 430px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1; }

.main__fist-screen {
  border: 1px solid green;
  min-height: -webkit-calc(100vh - 165px);
  min-height: calc(100vh - 165px);
  background-image: url("../images/main.png");
  background-position: right;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2; }

.main__fist-screen p {
  font-size: -webkit-calc(14px + 1vw);
  font-size: calc(14px + 1vw);
  line-height: 23px;
  text-align: center; }

.second-title {
  font-weight: 300;
  font-size: -webkit-calc(20px + 1vw);
  font-size: calc(20px + 1vw);
  line-height: 61px;
  margin: 0 auto; }

.fist-title {
  font-weight: normal;
  font-size: -webkit-calc(20px + 1vw);
  font-size: calc(20px + 1vw);
  line-height: 59px;
  text-align: center; }

.titles {
  width: 720px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px; }

.description {
  width: 630px; }
  .description h2 {
    font-size: 25px;
    font-weight: normal; }
    .description h2 span {
      font-size: 20px; }

.order-description {
  background-color: #FFF2F7;
  padding: 50px 0; }

.flex-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.btn {
  padding: 12px 36px;
  background-color: #fff;
  font-size: 18px;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #605458;
  cursor: pointer; }

.before-after {
  background-color: #FFF2F7;
  width: 100%;
  padding: 0; }
  .before-after .description {
    width: 1020px;
    margin: 0 auto; }
    .before-after .description h2 {
      margin-bottom: 24px; }

.description .description__line {
  background-color: #938086;
  padding: 18px 60px; }
  .description .description__line p {
    font-size: 35px;
    line-height: 43px;
    text-transform: uppercase;
    color: #ffffff; }

.warranty {
  background-color: #FFF2F7;
  padding-top: 30px; }
  .warranty h2 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px; }
  .warranty .warranty__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .warranty .warranty__description h3 {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 39px; }
    .warranty .warranty__description p {
      font-size: 18px;
      line-height: 22px; }
    .warranty .warranty__description .center {
      text-align: center;
      width: 433px; }
    .warranty .warranty__description .right {
      text-align: right;
      width: 380px; }
    .warranty .warranty__description .left {
      text-align: left;
      width: 342px; }
  .warranty .warranty__description-item {
    padding: 55px 10px 10px 10px; }
  .warranty .warranty__description-item:nth-child(2) {
    border-left: 1px solid #605458;
    border-right: 1px solid #605458; }
  .warranty .warranty__description-item:nth-child(1) {
    padding-left: 0; }
  .warranty .warranty__description-item:nth-child(3) {
    padding-right: 0; }

.clinika {
  padding-top: 120px;
  padding-bottom: 20px;
  background-image: url("../images/about.png");
  background-position: right bottom;
  -webkit-background-size: auto auto;
          background-size: auto;
  background-repeat: no-repeat; }
  .clinika h3 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 61px; }
  .clinika .clinika__description {
    width: 886px; }
    .clinika .clinika__description p {
      font-size: 18px;
      line-height: 22px;
      margin-top: 20px;
      text-indent: 20px; }
  .clinika .warranty__footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .clinika .warranty__footer p {
      text-indent: 0; }

.scheme {
  padding-top: 12px; }
  .scheme h3 {
    text-align: center;
    margin-bottom: 31px; }

.work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .work h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 20px; }
  .work p {
    font-size: 18px;
    line-height: 22px; }
  .work .work__item:nth-child(1) {
    padding-top: 120px; }
  .work .work__item:nth-child(3) {
    padding-top: 120px; }
  .work .work-icon {
    display: block;
    margin: 0 auto; }
  .work .work__item {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%; }
  .work .work__item {
    position: relative; }
    .work .work__item h4 {
      text-align: center; }
  .work .work__item:nth-child(2):after {
    content: url("../images/line.svg");
    position: absolute;
    top: 60px;
    right: -37%;
    z-index: -1; }
  .work .work__item-items {
    display: block;
    margin: 0 auto; }
  .work .item1 {
    width: 220px; }
  .work .item2 {
    width: 279px; }
  .work .item3 {
    width: 293px; }

