.modal-bg
    .send-form
        form(action="" method="post" accept-charset="utf-8")
            input.input(name="name" placeholder="Имя Фамилия" required)
            input.input.phone-mask(name="phone" type="tel" placeholder="Телефон" required)
            input.input(name="email" placeholder="Укажите Вашу почту" required)
            button.btn.btn-pink(type="submit") Отправить
        .close-modal-btn
            span
            span

