<!DOCTYPE html>
html(lang="ru")
    include base/_head
    body(ontouchstart="")
        include mixins/_mixins
        include header/_header-inside
        include main/_all_doctors
        include footer/_footer
        include base/_scripts
