<!DOCTYPE html>
html(lang="ru")
    include base/_head
    body(ontouchstart="")
        include mixins/_mixins
        include header/_header-inside
        include main/_mobile_menu
        include main/_main-menu
        include services/_laser_hair_removal_flash_detail
        include footer/_footer
        include base/_scripts
