<!DOCTYPE html>
html(lang="ru")
    include base/_head
    body(ontouchstart="")
        include mixins/_mixins
        include header/_header-inside
        include main/_mobile_menu
        include services/_sugar_bikini-deep_detail
        include footer/_footer
        include base/_scripts
