.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .about
            .page-title
                h2 О сервисе
            h1.pink-bg <span>Осознанная молодость</span> <br> КЛИНИКА КОСМЕТОЛОГИИ
            .about__headline
                .description
                    h2.description__headline Клиника Осознанная молодость - <span>одна из  ведущих клиник по услугам лазерной, аппаратной,  инъекционной, эстетической косметологии в Москве.</span>
                    #before-after.slider
                        img(src="./images/before.jpg")
                        //img(src="./images/after.jpg")
                    .description__line
                        p до | после
                        button.btn.btn-white-border Скачать прайс
                    .bg-up
                    .bg-down
.about.pink-bg
    .container
        .warranty
            h2 ГАРАНТИИ И ПРЕИМУЩЕСТВА
            .warranty__items
                .item
                    h4 Опытные специалисты
                    p Мы гарантируем наивысший комфорт и безопастность при прохождении процедур
                .item
                    h4 Новейшие технологии
                    p В нашей клинике используются только современные, передовые технологии, что обеспечивает высокое качество
                .item
                    h4 Индивидуальное отношение
                    p Широкий спектр процедур и помощь с их подбором, ползволяют получать доступные цены
            .about-clinic
                h2 КЛИНИКА КОСМЕТОЛОГИИ
                .about-clinic__description
                    p Сегодня «Осознанная Молодость» - это одна из ведущих клиник, специализирующаяся на медицинской косметологии в Москве.
                    p Клиника косметологии предоставляет услуги в области эстетической хирургии, лазерной и аппаратной косметологии, в том числе.
                    p Мы распологаем современными лазерными аппаратами, опытными специалистами с моноголетним стажем работы и подтвержденной квалификацией, всеми необходимыми сертификатами и лицензиями.
        .license
            h2 ЛИЦЕНЗИИ КЛИНИКИ
            .license__items
                .item
                .item
    .white-bg
        .container
            .scheme
                h3 КАК С НАМИ РАБОТАТЬ
                .work
                    .work__item
                        img.work-icon(src="./images/order.svg")
                        h4 ОСТАВЛЯЕТЕ ЗАЯВКУ
                        p.work__item-items.item1 Для начала оставляете заявку с контактами по кнопке ниже.
                    .work__item
                        img.work-icon(src="./images/consultation.svg")
                        h4 КОНСУЛЬТИРУЕМ
                        p.work__item-items.item2 В течение суток свяжемся с Вами, косультируем и назначаем время для сеанса.
                    .work__item
                        img.work-icon(src="./images/procedures.svg")
                        h4 ПРИХОДИТЕ НА ПРОЦЕДУРЫ
                        p.work__item-items.item3 Легко находите нас по карте, приезжаете и начинается Ваше преображение.
                .btn-block
                    button.btn.btn-pink Записаться на прием
            .compare
                h3 СРАВНЕНИЕ С ДРУГИМИ КЛИНИКАМИ
                .compare__clinic
                    .my-clinic
                        p Клиника «Осознанная Молодость»
                        p Без ожогов, отеков и синяков
                        p Быстрая нормализация организма после процедур
                        p Безболезненная эпиляция с устойчивым эффектом
                        p Руки нашего косметолога проведут процедуры биоревиталиция или увеличения губ легко и безболезненно
                    .other-clinic
                        p Другие клиники
                        p Выходишь как с войны после процедур
                        p После процедур месяц из дома не выходишь
                        p Эффект после эфиляции быстро исчезает и требуется очень много болезненных сеансов
                        p Болючие уколы :O
    .pink-bg
        .questions.container
            h3 ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
            .questions__all.questions__bg
                .questions__item.item-1
                    p.question-no-acc.active Здравствуйте, сначала по предыдудщим дополнениям к факу: Больно ли колоть Ботокс?
                    p.answer Инъекция Ботокса или Диспорта — это совершенно безболезненная процедура, которая выполняется миниатюрной иглой. Для того, чтобы сделать процесс максимально комфортным, врачи-косметологи используют анестезирующий крем, который наносится на кожу. Уже через 10-15 минут после инъекции пациент полностью может вернуться к обычной жизни.
                .questions__item.item-2
                    p.question Как быстро заметен эффект после уколов Ботокс?
                    p.answer.invisible Ботокс «встает» или набирает силу минимум на 3 день после инъекции, максимум – через 2 недели. Точный срок зависит от зоны обработки, концентрации препарата, глубины введения и особенностей организма.
                .questions__item.item-3
                    p.question Когда ждать результаты от лазерной эпиляции?
                    p.answer.invisible Чтобы вы больше не переживали, рассказываем, когда же можно увидеть окончательный результат после процедур лазерной эпиляции - идеально гладкую кожу без единого лишнего волоска! <br>
                        | Для начала представьте, что на теле человека около полумиллиона волос. <br>
                        | А каждый волос рождается из волосяного фолликула и проживает 3 стадии: <br>
                        | - активную; <br>
                        | - переходную; <br>
                        | - покоя. <br>
                        | Волоски растут очень близко друг к другу, но все они находятся в разных периодах развития. <br>
                        | Лазер направляет свои лучи прямо на фолликул. <br>
                        | Воздействие происходит только на волосы в периоде активного роста. <br>
                        | В промежутке 4-5 недель таких волос на нашем теле 10-20%, в зависимости от выбранной зоны. <br>
                        | Именно поэтому нельзя удалить все волоски сразу. <br>
                        | Получается, что для полного избавления от нежелательных волос необходим курс, состоящий из 8 процедур. <br>
                        | Конечно, нельзя забывать и об индивидуальных особенностях- густоте и цвете волос, чувствительности и оттенка кожи. <br>
                        | Например, красоткам с южными корнями этих процедур может потребоваться и больше. <br>
                .questions__item.item-4
                    p.question Остаётся ли лицо живым после ботокса?
                    p.answer.invisible Вводится раствор ботулотоксина точечно, исключительно в участки расположения морщин. При этом мышцы в области воздействия инъекций парализуются и расслабляются, снимая тем самым напряжения двигательной мускулатуры лица и способствуя желаемому устранению складок на коже. Несмотря на выраженный косметический эффект, ботулотоксин имеет обратимое действие, приводя через определенное время к полному восстановлению нервно-мышечной функциональности. Но для получения от инъекций ботокса нужного результата, требуется: <br> <br> <br>

                        | Разведение препарата в правильных пропорциях; <br> <br> <br>

                        | Соблюдение условий сбережения уже готового раствора ботокса; <br> <br> <br>

                        | Грамотное проведение уколов; <br> <br> <br>

                        | Подбор правильной дозы препарата в соответствии с характером и глубиной морщин; <br> <br> <br>

                        | Анализ степени выраженности фотостарения эпидермиса.
                .questions__item.item-5
                    p.question Можно ли использовать Паломар для избавления от растяжек на груди? И будет ли использование эффективным, учитывая что растяжки уже около 2 лет?
                    p.answer.invisible Конечно, можно! Благодаря фракционному лазерному воздействию Palomar 1540 свежие растяжки (до 2-х лет) на груди удаляются навсегда за 3-5 процедур. Лазерный свет, точечно (фракционно) проникая в кожу на глубину 1 мм, запускает механизм естественного восстановления тканей с формированием нового коллагена, который «вытесняет» соединительную ткань растяжки. Чем «моложе» растяжки, тем за меньшее количество процедур они <удаляются></удаляются>
    .white-bg
        .map.container
            .map__header
                .address
                    p Москва, пр-д Березовой Рощи, д.12, вход со стороны двора
                .phone
                    p +7 (985) 226-53-58
                    p +7 (968) 498-81-69
                .btn-block
                    button.btn.btn-pink Бесплатная консультация
            <iframe src="https://yandex.ru/map-widget/v1/-/CGTxfR84" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
