.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .all-doctors
            .pink-line
            .page-title
                h2.one-title Врачи и специалисты клиники
            .description-page
                .pink-bg
                    .text-doctors
                        p Для того, чтобы сделать Вас более красивыми и здоровыми в нашей клинике трудятся настояшие специалисты своего дела.
                        p В клинике "Осознанная молодость" мы излечиваем выраженный купероз, удаляем сосудистые звёздочки, ангиомы и геангиомы (в том числе и у детей!), удаляем пигментацию любой сложности и любого происхождения, проводим процедуры фотоомоложения, улучшения текстуры кожи и сужения пор.
                    .btn-block
                        button.btn Записаться на прием
            .personal-photo
                .bg-up
                .top-block
                    .personal-photo__card.boss
                        .headline
                            h3 ГЛАВНЫЙ вРАЧ
                            p Берелавичус  Станислав Валерьевич
                        .doctor-photo
                            img(src="./images/boss.png")
                        .btn-block
                            a.btn(href="/detail_doctors.html") Подробнее
                .second-block
                    .personal-photo__card
                        .headline
                            h3 ГЛАВНЫЙ вРАЧ
                            p Берелавичус  Станислав Валерьевич
                        .doctor-photo
                            img(src="./images/boss.png")
                        .btn-block
                            a.btn(href="") Подробнее
                    .personal-photo__card
                        .headline
                            h3 ГЛАВНЫЙ вРАЧ
                            p Берелавичус  Станислав Валерьевич
                        .doctor-photo
                            img(src="./images/boss.png")
                        .btn-block
                            a.btn(href="#") Подробнее
