.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .contacts
            .pink-line
            .page-title
                h2.one-title Контакты
            .description-page
                .pink-bg
                    p Осознанная молодость
                    h2 КЛИНИКА КОСМЕТОЛОГИИ
                    h3.headline Клиника Осознанная молодость -  <span>одна из  ведущих клиник по услугам лазерной, аппаратной,  инъекционной, эстетической косметологии в Москве.</span>

                .info-block
                    .bg-up
                    .bg-down
                    .info-block__flex
                        .info-block__all
                            .info-block__phone
                                p Свзяться с нами вы можете по телефонам:
                                .phone
                                    a(href="tel:+79852265358") +7 (985) 226-53-58
                                    a(href="tel:+79684988169") +7 (968) 498-81-69
                            .info-block__social
                                p Мы в социальных сетях:
                                .icon-block
                                    a(href="#" target="_blank")
                                        img(src="./images/fb.svg")
                                    a(href="#" target="_blank")
                                        img(src="./images/vk.svg")
                                    a(href="#" target="_blank")
                                        img(src="./images/telegram.svg")
                                    a(href="#" target="_blank")
                                        img(src="./images/insta.svg")
                        .btn-block
                            button.btn.btn-pink Бесплатная консультация
            .map
                .map__iframe
                    p.map-healine Найдете нас по адресу: Москва, пр-д Березовой Рощи, д.12, вход со стороны двора
                    <iframe src="https://yandex.ru/map-widget/v1/-/CGTxfR84" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>

            .white-bg

