nav.nav-menu
    ul
        li
            a.menu-item(href="/index.html") Главная
        li
            a.menu-item.sub(href="#") Услуги
        li
            a.menu-item(href="#") Маникюр, педикюр
        li
            a.menu-item(href="/price.html") Цены на услуги
        li
            a.menu-item(href="/all_doctors.html") Наши специалисты
        li
            a.menu-item(href="/about.html") О нас
        li
            a.menu-item(href="/feedback.html") Отзывы
        li
            a.menu-item(href="/contacts.html") Контакты
        li
            a.menu-item(href="/agreement.html") Пользовательское соглашение
    .sub-menu-item-1
        ul
            li
                a.menu-item.sub(href="/index.html") Лазерная эпиляция
            li
                a.menu-item.sub(href="#") Эпиляция
            li
                a.menu-item.sub(href="#") Лазер Palomar Icon
            li
                a.menu-item.sub(href="/price.html") Косметические Услуги
            li
                a.menu-item.sub(href="/all_doctors.html") Инъекционная косметология
            li
                a.menu-item.sub(href="/about.html") Радикальная косметология
            li
                a.menu-item.sub(href="/feedback.html") Массажи
            li
                a.menu-item.sub(href="/contacts.html") Уходы
    .sub-menu-item-2
        .item-1
            ul
                li
                    a.menu-item(href="/index.html") Эпиляция лица
                li
                    a.menu-item(href="#") Эпиляция тела
                li
                    a.menu-item(href="#") Эпиляция рук
                li
                    a.menu-item(href="/price.html") Эпиляция ног
                li
                    a.menu-item(href="/all_doctors.html") Комплексные процедуры по выгодной цене
                li
                    a.menu-item(href="/about.html") Мужская эпиляция
        //.item-2
        //    ul
        //        li
        //            a.menu-item.sub(href="/index.html") Лазерная эпиляция1
        //        li
        //            a.menu-item.sub(href="#") Эпиляция
        //        li
        //            a.menu-item.sub(href="#") Лазер Palomar Icon
        //        li
        //            a.menu-item.sub(href="/price.html") Косметические Услуги
        //        li
        //            a.menu-item.sub(href="/all_doctors.html") Инъекционная косметология
        //        li
        //            a.menu-item.sub(href="/about.html") Радикальная косметология
        //        li
        //            a.menu-item.sub(href="/feedback.html") Массажи
        //        li
        //            a.menu-item.sub(href="/contacts.html") Уходы
