nav.nav-menu
    ul
        li
            a.menu-item(href="index.html") Главная
        li.sub
            a.menu-item.sub-arrow(href="#") Услуги
            ul.sub-menu
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Лазерная эпиляция
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="laser_hair_removal_face.html") Эпиляция лица
                        li
                            a.menu-item(href="laser_hair_removal_body.html") Эпиляция тела
                        li
                            a.menu-item(href="laser_hair_removal_hand.html") Эпиляция рук
                        li
                            a.menu-item(href="laser_hair_removal_foot.html") Эпиляция ног
                        li
                            a.menu-item(href="laser_hair_removal_complex.html") Выгодные комплексы
                        li
                            a.menu-item(href="laser_hair_removal_men.html") Мужская эпиляция
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Эпиляция
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="waxing.html") Восковая
                        li
                            a.menu-item(href="electro_hair_removal.html") Элекстроэпиляция
                        li
                            a.menu-item(href="sugar.html") Сахарная
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Лазер Palomar Icon
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="no.html") Необляционное омоложение
                        li
                            a.menu-item(href="scarring.html") Лечение растяжек, рубцов
                        li
                            a.menu-item(href="pigment.html") Удаление пигментных пятен
                        li
                            a.menu-item(href="termo.html") Термолифтинг
                        li
                            a.menu-item(href="no-complex.html") Необляционное омоложение комплексы
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Косметические Услуги
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="ears.html") Прокол ушей
                        li
                            a.menu-item(href="kosmetic.html") Окрашивание бровей и ресниц
                li.sub-sub
                    a.menu-item.sub-arrow(href="all_doctors.html") Инъекционная косметология
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="bt.html") Ботулинотерапия
                        li
                            a.menu-item(href="") Гипергидроз
                        li
                            a.menu-item(href="") Биоревитализация
                        li
                            a.menu-item(href="") Биореструктуризация
                li.sub-sub
                    a.menu-item.sub-arrow(href="about.html") Радикальная косметология
                li.sub-sub
                    a.menu-item.sub-arrow(href="feedback.html") Массажи
                li.sub-sub
                    a.menu-item.sub-arrow(href="contacts.html") Уходы
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Ногтевой сервис
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="laser_hair_removal.html") Маникюр
                        li
                            a.menu-item(href="laser_hair_removal.html") Педикюр
        li
            a.menu-item(href="price.html") Цены на услуги
        li
            a.menu-item(href="all_doctors.html") Наши специалисты
        li
            a.menu-item(href="about.html") О нас
        li
            a.menu-item(href="feedback.html") Отзывы
        li
            a.menu-item(href="contacts.html") Контакты
        li
            a.menu-item(href="agreement.html") Пользовательское соглашение

