nav.nav-menu
    ul
        li
            a.menu-item(href="#") Главная страница
        li
            a.menu-item(href="#") О центре
        li
            a.menu-item(href="#") Услуги
        li
            a.menu-item(href="#") Наши цены
        li
            a.menu-item(href="#") Наши врачи
        li
            a.menu-item(href="#") Отзывы
        li
            a.menu-item(href="#") Контакты
