nav.nav-menu
    ul
        li
            a.menu-item(href="index.html") Главная
        li.sub
            a.menu-item.sub-arrow(href="#") Услуги
            ul.sub-menu
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Лазерная эпиляция
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="laser_hair_removal_face.html") Эпиляция лица
                        li
                            a.menu-item(href="laser_hair_removal_body.html") Эпиляция тела
                        li
                            a.menu-item(href="laser_hair_removal_hand.html") Эпиляция рук
                        li
                            a.menu-item(href="laser_hair_removal_foot.html") Эпиляция ног
                        li
                            a.menu-item(href="laser_hair_removal_complex.html") Выгодные комплексы
                        li
                            a.menu-item(href="laser_hair_removal_men.html") Мужская эпиляция
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Эпиляция
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="#") Услуга 1
                        li
                            a.menu-item(href="#") Услуга 2
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Лазер Palomar Icon
                li.sub-sub
                    a.menu-item.sub-arrow(href="price.html") Косметические Услуги
                li.sub-sub
                    a.menu-item.sub-arrow(href="all_doctors.html") Инъекционная косметология
                li.sub-sub
                    a.menu-item.sub-arrow(href="about.html") Радикальная косметология
                li.sub-sub
                    a.menu-item.sub-arrow(href="feedback.html") Массажи
                li.sub-sub
                    a.menu-item.sub-arrow(href="contacts.html") Уходы
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Ногтевой сервис
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="laser_hair_removal.html") Маникюр
                        li
                            a.menu-item(href="laser_hair_removal.html") Педикюр
        li
            a.menu-item(href="price.html") Цены на услуги
        li
            a.menu-item(href="all_doctors.html") Наши специалисты
        li
            a.menu-item(href="about.html") О нас
        li
            a.menu-item(href="feedback.html") Отзывы
        li
            a.menu-item(href="contacts.html") Контакты
        li
            a.menu-item(href="agreement.html") Пользовательское соглашение

