nav.nav-menu
    ul
        li
            a.menu-item(href="index.html") Главная
        li.sub
            a.menu-item.sub-arrow(href="#") Услуги
            ul.sub-menu
                li.sub-sub
                    a.menu-item.sub-arrow(href="index.html") Лазерная эпиляция
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="laser_hair_removal.html") Эпиляция тела
                        li
                            a.menu-item(href="#") Услуга 2
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Эпиляция
                    ul.sub-sub-menu
                        li
                            a.menu-item(href="#") Услуга 1
                        li
                            a.menu-item(href="#") Услуга 2
                li.sub-sub
                    a.menu-item.sub-arrow(href="#") Лазер Palomar Icon
                li.sub-sub
                    a.menu-item.sub-arrow(href="price.html") Косметические Услуги
                li.sub-sub
                    a.menu-item.sub-arrow(href="all_doctors.html") Инъекционная косметология
                li.sub-sub
                    a.menu-item.sub-arrow(href="about.html") Радикальная косметология
                li.sub-sub
                    a.menu-item.sub-arrow(href="feedback.html") Массажи
                li.sub-sub
                    a.menu-item.sub-arrow(href="contacts.html") Уходы
        li
            a.menu-item(href="#") Маникюр, педикюр
        li
            a.menu-item(href="price.html") Цены на услуги
        li
            a.menu-item(href="all_doctors.html") Наши специалисты
        li
            a.menu-item(href="about.html") О нас
        li
            a.menu-item(href="feedback.html") Отзывы
        li
            a.menu-item(href="contacts.html") Контакты
        li
            a.menu-item(href="agreement.html") Пользовательское соглашение

