.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .detail-doctors#doctor-1
            .pink-line
            .page-title
                h2 ГЛАВНЫЙ ВРАЧ
                p Берелавичус  Станислав Валерьевич
                .detail-doctor
                    .bg-up
                    .pink-bg
                    .container
                        .description-photo
                            .doctor-photo
                                img(src="./images/boss.png")
                            .description
                                .text-block
                                    p <span>Доктор медицинских наук, профессор.</span>
                                    p <span>Образование:</span> лечебный факультет Российский государственный медицинский университет (РГМУ).
                                    p <span>Имеет ряд усовершенствований в том числе:</span>
                                    p 1. радиационная безопасность пациентов и персонала при проведении рентгенологических исследований;
                                    p 2. организация работы с лекарственными препаратами, содержащими наркотические средства, ядовитые, сильнодействующие и психотропные вещества;
                                    p 3. экспертиза временной нетрудоспособности и контроль качества медпомощи;
                                    p 4. организация здравоохранения и общественного здоровья.
                                    p <span>Процедуры:</span>
                                .btn-block
                                    button.btn.btn-pink.popup Записаться на приём
            .doctor-title#doctor-2
                h2 Врач - косметолог
                p Пантюхова Екатерина Викторовна
                .detail-doctor
                    .bg-up
                    .pink-bg
                    .container
                        .description-photo
                            .doctor-photo
                                img(src="./images/pantyukhina.png")
                            .description
                                .text-block
                                    p <span>Врач-косметолог</span>
                                    p <span>Образование:</span> 1994 Смоленская государственная медицинская академия. Лечебный факультет Государственный институт усовершенствование врачей Министерства обороны Дерматовенерология
                                    p Российская Медицинская Академия Постдипломного образования Врачебная косметология.
                                    p - медицинский стаж 25 лет
                                    p <span>Имеет действующие сертификаты следующих методик:</span>
                                    p - "Врач -дерматовенеролог"
                                    p - "Врач -косметолог"
                                    p <span>Процедуры:</span> Плазмолифтинг, Озонотерапия, Ревитализация, Ботулинотерапия, Контурная пластика, Мезотерапия, Нитевой лифтинг, Эксфолиативная терапия; Аппаратная косметология: фракционное лазерное омоложение, коррекция гиперпигментаций, рубцов, стрий, фотоэпиляция, фотоомоложение, лечение купероза, розацеа, телеангиэктазий.
                                .btn-block
                                    button.btn.btn-pink.popup Записаться на приём
            .doctor-title#doctor-3
                h2 Врач - ординатор Дерматовенеролог
                p Купцова Алина Валентиновна
                .detail-doctor
                    .bg-up
                    .pink-bg
                    .container
                        .description-photo
                            .doctor-photo
                                img(src="./images/kuptcova.png")
                            .description
                                .text-block
                                    p <span>Врач - ординатор Дерматовенеролог</span>
                                    p <span>Образование:</span> В 2011 году закончила Ижевский медицинский колледж - Медицинская сестра. Специализация медицинская сестра в косметологии.
                                    p 2018 году закончила Ижевскую медицинскую Академию. Лечебное дело.
                                    p 2018-2020 Врач-ординатор Дерматовенеролог. <br> Кафедра Дерматовенерологии и косметологии РУДН г. Москва
                                    p С 2019 года является тренером - технологом финского бренда по сахарной депиляции. <br> Тренер-технолог института красоты Fijie.
                                    p <span>Процедуры:</span> косметические уходы по телу, сахарная депиляция, ручная пластика лица - Хиропластический массаж по методике Елены Земсковой, применение химических пилингов, атравматические чистки, комбинированные методики чистки для коррекции угревой болезни, мезотерапия, биоревитализация
                                .btn-block
                                    button.btn.btn-pink.popup Записаться на приём
            .doctor-title#doctor-4
                h2 ВРАЧ
                p Захирова Айгуль Илнуровна
                .detail-doctor
                    .bg-up
                    .pink-bg
                    .container
                        .description-photo
                            .doctor-photo
                                img(src="./images/zakhirova.png")
                            .description
                                .text-block
                                    p <span>Специализация:</span>
                                    p <span>Образование:</span>
                                    p <span>Имеет сертификаты следующих методик:</span>
                                    p <span>Процедуры:</span> Лазерная Эпиляция на аппарате Palomar Vectus, необляционное лазерное омоложение, лечение растяжек, стрий, рубцов, удаление пигментных пятен, сосудистых звездочек (купероз), термолифтинг MAXIR, массаж лица, эндосфера, биоревитализация, биореструктизация, мезотерапия волос, линия препаратов Platinum Collection, ботулинотерапия, гипергидроз, контурная пластика, нитевой лифтинг  (Мезонити), чистка лица, пилинги, прокол ушей, уходы
                                .btn-block
                                    button.btn.btn-pink.popup Записаться на приём
            .doctor-title#doctor-5
                h2 ВРАЧ
                p Дедова Татьяна Витальевна
                .detail-doctor
                    .bg-up
                    .pink-bg
                    .container
                        .description-photo
                            .doctor-photo
                                img(src="./images/no-image.png")
                            .description
                                .text-block
                                    p <span>Специализация:</span>
                                    p <span>Образование:</span>
                                    p <span>Имеет сертификаты следующих методик:</span>
                                    p <span>Процедуры:</span>
                                .btn-block
                                    button.btn.btn-pink.popup Записаться на приём
            .doctor-title#doctor-6
                h2 ВРАЧ
                p Ненастина Людмила Николаевна
                .detail-doctor
                    .bg-up
                    .pink-bg
                    .container
                        .description-photo
                            .doctor-photo
                                img(src="./images/no-image.png")
                            .description
                                .text-block
                                    p <span>Специализация:</span>
                                    p <span>Образование:</span>
                                    p <span>Имеет сертификаты следующих методик:</span>
                                    p <span>Процедуры:</span>
                                .btn-block
                                    button.btn.btn-pink.popup Записаться на приём




