.detail-doctors
    .desktop-menu-inside
        a.menu(href="#") Главная
        a.menu.active(href="#") О центре
        a.menu(href="#") Услуги
        a.menu(href="#") Наши цены
        a.menu(href="#") Наши врачи
        a.menu(href="#") Отзывы
        a.menu(href="#") Контакты
    .pink-line
    .page-title
        h2 ГЛАВНЫЙ ВРАЧ
        p Берелавичус  Станислав Валерьевич
        .detail-doctor
            .bg-up
            .pink-bg
            .container
                .description-photo
                    .doctor-photo
                        img(src="./images/boss.png")
                    .description
                        .text-block
                            p Доктор медицинских наук, профессор.
                            p <span>Образование:</span> лечебный факультет Российский государственный медицинский университет (РГМУ).
                            p <span>Имеет ряд усовершенствований в том числе:</span>
                            p 1. радиационная безопасность пациентов и персонала при проведении рентгенологических исследований;
                            p 2. организация работы с лекарственными препаратами, содержащими наркотические средства, ядовитые, сильнодействующие и психотропные вещества;
                            p 3. экспертиза временной нетрудоспособности и контроль качества медпомощи;
                            p 4. организация здравоохранения и общественного здоровья.
                            p <span>Процедуры:</span>
                        .btn-block
                            button.btn.btn-pink Записаться на приём
    .doctor-title
        h2 ВРАЧ-ДЕРМАТОКОСМЕТОЛОГ
        p ФИО врача
        .detail-doctor
            .bg-up
            .pink-bg
            .container
                .description-photo
                    .doctor-photo
                        img(src="./images/boss.png")
                    .description
                        .text-block
                            p Врач-дерматокосметолог в области инъекционных методик и аппаратной косметологии.
                            p <span>Образование:Первый московский медицинский университет им. И. М. Сеченова
                            p <span>Имеет сертификаты следующих методик:</span>
                            p - контурная пластика;
                            p - объемное моделирование лица,векторный лифтинг;
                            p - биоармирование, мезотерапия, биоревитализация, ботулинотерапия;
                            p - применение химических пилингов, лазерная дерматокосметология, лечение акне;
                            p <span>Опыт работы</span> - более 8 лет.
                            p <span>Процедуры:</span>
                        .btn-block
                            button.btn.btn-pink Записаться на приём




