.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .feedback
            .pink-line
            .page-title
                h2.one-title Отзывы
            .description-page
                .pink-bg
                    p Осознанная молодость
                    h2 КЛИНИКА КОСМЕТОЛОГИИ
            .description
                h3.headline Клиника Осознанная молодость -  <span>одна из  ведущих клиник по услугам лазерной, аппаратной,  инъекционной, эстетической косметологии в Москве.</span>
                .bg-up
                .btn-block
                    a.btn.btn-pink(href="#feedback-form") Оставить отзыв
            .feedback-block
                .pink-bg
                    .feedback-item
                        .name
                            p Жанна
                        p.text Спасибо вам за ваши умелые руки, за вашу умную голову, за вашу врачебную проницательность, за ваши годы трудов с нами, иногда тяжелыми и капризными, несговорчивыми пациентами. Спасибо вам, также, и за высочайший профессионализм, и за доброту, и за то, что заставляли меня выздоравливать. Мне очень понравилось ваш внимание и теплота, энергичность и просто как человек. Всех вам благ.
                        p.date 11.11.2019
                .white-bg
            .feedback-block
                .pink-bg
                    .feedback-item
                        .name
                            p Жанна Верочкина
                        p.text Спасибо вам за ваши умелые руки, за вашу умную голову, за вашу врачебную проницательность, за ваши годы трудов с нами, иногда тяжелыми и капризными, несговорчивыми пациентами. Спасибо вам, также, и за высочайший профессионализм, и за доброту, и за то, что заставляли меня выздоравливать. Мне очень понравилось ваш внимание и теплота, энергичность и просто как человек. Всех вам благ.
                        p.date 11.11.2019
                .white-bg
        form.feedback-form#feedback-form
            input(placeholder="Ваше имя")
            input(placeholder="Нажмите здесь, чтобы начать писать")
            .btn-block
                button.btn.btn-pink Отправить
