.main
  .main__fist-screen
      .container
        .titles
            h2.second-title МЫ ПОМОГАЕМ<br>ВАМ ВЫГЛЯДЕТЬ<br>БЕЗУПРЕЧНО
            p Осознанная молодость
            h1.fist-title КЛИНИКА КОСМЕТОЛОГИИ
.order-description
  .container.flex-block
      .description
          h2 Клиника ОМ ("Осознанная молодость") - <span> одна из ведущих клиник по услугам лазерной, аппаратной, инъекционной, эстетической косметологии в Москве.</span>
      .btn-block
          button.btn Скачать прайс
.before-after
    .description
        h2 Клиника Осознанная молодость - <span>одна из  ведущих клиник по услугам лазерной, аппаратной,  инъекционной, эстетической косметологии в Москве.</span>
        #before-after.slider
            img(src="../images/before.jpg")
            //img(src="../images/after.jpg")
        .description__line
            p до | после
.warranty
    .container
        h2 ГАРАНТИИ И ПРЕИМУЩЕСТВА
        .warranty__description
            .warranty__description-item
                h3 Новейшие технологии
                p.left Мы гарантируем наивысший комфорт и безопастность при прохождении процедур
            .warranty__description-item
                h3 Опытные специалисты
                p.center В нашей клинике используются только современные, передовые технологии, что обеспечивает высокое качество
            .warranty__description-item
                h3 Индивидуальное отношение
                p.right Широкий спектр процедур и помощь с их подбором, ползволяют получать доступные цены
        .clinika
            h3 КЛИНИКА КОСМЕТОЛОГИИ
            .clinika__description
                p Сегодня «Осознанная Молодость» - это одна из ведущих клиник, специализирующаяся на медицинской косметологии в Москве.
                p Клиника косметологии предоставляет услуги в области эстетической хирургии, лазерной и аппаратной косметологии, в том числе.
                p Мы распологаем современными лазерными аппаратами, опытными специалистами с моноголетним стажем работы и подтвержденной квалификацией, всеми необходимыми сертификатами и лицензиями.
                .warranty__footer
                    p Пн-Сб 10.00-22.00
                    p +7 (985) 226-53-58
.container.scheme
    h3 КАК С НАМИ РАБОТАТЬ
    .work
        .work__item
            img.work-icon(src="./images/order.svg")
            h4 ОСТАВЛЯЕТЕ ЗАЯВКУ
            p.work__item-items.item1 Для начала оставляете заявку с контактами по кнопке ниже.
        .work__item
            img.work-icon(src="./images/consultation.svg")
            h4 КОНСУЛЬТИРУЕМ
            p.work__item-items.item2 В течение суток свяжемся с Вами, косультируем и назначаем время для сеанса.
        .work__item
            img.work-icon(src="./images/procedures.svg")
            h4 ПРИХОДИТЕ НА ПРОЦЕДУРЫ
            p.work__item-items.item3 Легко находите нас по карте, приезжаете и начинается Ваше преображение.
