.desktop-menu-inside
    a.menu(href="#") Главная
    a.menu.active(href="#") О центре
    a.menu(href="#") Услуги
    a.menu(href="#") Наши цены
    a.menu(href="#") Наши врачи
    a.menu(href="#") Отзывы
    a.menu(href="#") Контакты
