.mobile-menu
    .btn-close
        span
        span
    .mobile-menu__main.active#mobile-menu__main
        ul
            li
                a.menu-item(href="index.html") Главная
            li
                a.menu-item.sub-1.arrow(href="#") Услуги

            li
                a.menu-item(href="price.html") Цены на услуги
            li
                a.menu-item(href="all_doctors.html") Наши специалисты
            li
                a.menu-item(href="about.html") О нас
            li
                a.menu-item(href="feedback.html") Отзывы
            li
                a.menu-item(href="contacts.html") Контакты
            li
                a.menu-item(href="agreement.html") Пользовательское соглашение
    ul.mobile-menu__sub-1#mobile-menu__sub-1
        li
            a.menu-item.btn-back(href="#") Назад
        li
            a.menu-item.arrow(href="#") Лазерная эпиляция
        li
            a.menu-item(href="#") Маникюр, педикюр
        li
            a.menu-item.arrow(href="#") Эпиляция
        li
            a.menu-item.arrow(href="#") Лазер Palomar Icon
        li
            a.menu-item.arrow(href="#") Косметические Услуги
        li
            a.menu-item.arrow(href="#") Инъекционная косметология
        li
            a.menu-item.arrow(href="#") Радикальная косметология
        li
            a.menu-item.arrow(href="#") Массажи
    //ul.mobile-menu__sub-1-2#mobile-menu__sub-1-2
    //    li
    //        a.menu-item.btn-back(href="#") Назад
    //    li
    //        a.menu-item.arrow(href="#") Лазерная эпиляция
    //    li
    //        a.menu-item(href="#") Маникюр, педикюр
    //    li
    //        a.menu-item.arrow(href="#") Эпиляция
    //    li
    //        a.menu-item.arrow(href="#") Лазер Palomar Icon
    //    li
    //        a.menu-item.arrow(href="#") Косметические Услуги
    //    li
    //        a.menu-item.arrow(href="#") Инъекционная косметология
    //    li
    //        a.menu-item.arrow(href="#") Радикальная косметология
    //    li
    //        a.menu-item.arrow(href="#") Массажи

