.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .price
            .page-title
                h2.one-title Наши цены
            .pink-bg
                p Осознанная молодость
                h2 КЛИНИКА КОСМЕТОЛОГИИ
            .price-list
                .headline-price
                    p Лазерная Эпиляция  на аппарате Palomar Vectus (USA)
                .price-list__headline
                    p.price-acc Эпиляция лица
                .price-list__body.item-2.invisible
                    .price-line
                        .price
                            p.name-service Верхняя губа
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подбородок
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Височная область
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Брови с двух сторон
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лоб и межбровье
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Щеки (обе)
                            p 3200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лицо полностью
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Баки с двух сторон
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ушные раковины
                            p 2400 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Эпиляция тела
                .price-list__body.item-3.invisible
                    .price-line
                        .price
                            p.name-service Бикини классическое
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Тотальное бикини (глубокое)
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Спина до лопаток
                            p 4800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Грудь
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Белая линия живота
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Живот полностью
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Пояснично-крестцовая область
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ягодицы
                            p 5000 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Эпиляция рук
                .price-list__body.item-4.invisible
                    .price-line
                        .price
                            p.name-service Подмышечная область
                            p 3200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Руки до локтя
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Руки полностью
                            p 6400 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Эпиляция ног
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Голени обеих ног
                            p 6400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ноги полностью
                            p 10400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Единично 1 вспышка
                            p 300 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Мужская эпиляция
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Спина (полностью)
                            p 12000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подмышечные впадины
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Грудь
                            p 8000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Живот
                            p 8000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Паховая зона
                            p 4800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Единично (вспышка)
                            p 300 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Комплексные  процедуры по выгодной цене
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service «ДУЭТ 1» Тотальное бикини + подмышечная область
                            p 6800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «ДУЭТ 2» Тотальное бикини + голени ног
                            p  9200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «ДУЭТ 3» Ноги полностью + подмышечная область
                            p 11200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «Дуэт 4» Тотальное бикини + ноги полностью
                            p 12800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «Дуэт 5» Ноги полностью + руки полностью
                            p 14400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «ТРИО 1» Тотальное бикини + подмышечная область + голени ног
                            p 12800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «ТРИО 2» Тотальное бикини + Подмышечная область + ноги полностью
                            p 16000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «КВАРТЕТ» Подмышечная область + тотальное бикини + ноги полностью + руки полностью
                            p 20000 <span> &#8381;</span>

                .headline-price
                    p Восковая эпиляция
                .price-list__headline
                    p.price-acc Эпиляция
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Верхняя губа
                            p 600 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подбородок
                            p 600 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Щеки
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Руки
                            p 1300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подмышешная область
                            p 1000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Живот
                            p 1000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Поясница
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини (классич.)
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини (глубокое)
                            p 3000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ноги (полностью)
                            p 2500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Голень
                            p 1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бедро
                            p 2000<span> &#8381;</span>



                .headline-price
                    p Сахарная эпиляция
                .price-list__headline
                    p.price-acc Эпиляция
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Верхняя губа
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подбородок
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Щеки
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Руки
                            p 900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подмышечная область
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Живот
                            p 500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Поясница
                            p 500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини (классич.)
                            p 900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини (глубокое)
                            p 1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ноги (полностью)
                            p 1800<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Голень
                            p 900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бедро
                            p 900<span> &#8381;</span>






                //Заготовка заголовка
                .headline-price
                    p

                //Заготовка
                .price-list__headline
                    p.price-acc
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service
                            p  <span> &#8381;</span>
