.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .price
            .page-title
                h2.one-title Наши цены
            .pink-bg
            .price-list
                .price-list__headline
                    p.price-acc Лазерная эпиляция
                .price-list__body.item-1.invisible
                    .price-line
                        .price
                            p
                            p <span> &#8381;</span>
                    .price-line
                        .price
                            p
                            p <span> &#8381;</span>
                    .price-line
                        .price
                            p
                            p <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Эпиляция лица
                .price-list__body.item-2.invisible
                    .price-line
                        .price
                            p Лазерная эпиляция верхней губы
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p Лазерная эпиляция подбородка
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p Лазерная эпиляция височной области
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p Лазерная эпиляция бровей (c 2-сторон)
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p Лазерная эпиляция лба и межбровья
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p Лазерная эпиляция щек
                            p 3200 <span> &#8381;</span>
                    .price-line
                        .price
                            p Лазерная эпиляция всего лица
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p Лазерная эпиляция бакенбард
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p Лазерная эпиляция ушных раковин
                            p 2400 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Эпиляция тела
                .price-list__body.item-3.invisible
                    .price-line
                        .price
                            p Лазерная эпиляция зоны бикини (классическое)
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p Лазерная эпиляция-тотальное бикини
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p
                            p <span> &#8381;</span>
                    .price-line
                        .price
                            p
                            p <span> &#8381;</span>
                    .price-line
                        .price
                            p
                            p <span> &#8381;</span>
                    .price-line
                        .price
                            p
                            p <span> &#8381;</span>

                    .price-line
                        .price
                            p
                            p <span> &#8381;</span>
                    .price-line
                        .price
                            p
                            p <span> &#8381;</span>
                .price-list__headline
                    p.price-acc
                .price-list__body.item-4.invisible
                    .price-line
                        .price
                            p
                            p

                .price-list__headline
                    p.price-acc
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p
                            p




                .price-list__headline
                    p.price-acc
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p
                            p



