.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .price
            .page-title
                h2.one-title Наши цены
            .pink-bg
                p Осознанная молодость
                h2 КЛИНИКА КОСМЕТОЛОГИИ
            .price-list
                .headline-price
                    p Лазерная Эпиляция  на аппарате Palomar Vectus (USA)
                .price-list__headline
                    p.price-acc Эпиляция лица
                .price-list__body.item-1.invisible
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция верхней губы
                            p 1200<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция подбородка
                            p 2000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция височной области
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция бровей (c 2-сторон)
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция лба и межбровья
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция щек
                            p 3200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция всего лица
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция бакенбард
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция ушных раковин
                            p 2400 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Эпиляция тела
                .price-list__body.item-2.invisible
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция зоны бикини (классическое)
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция - тотальное бикини(глубокое)
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция спины до лапаток
                            p 4800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция груди
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция белой линии живота
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция белой линии живота
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция пояснично-крестцовой области
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция ягодиц
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция еденичная вспышка
                            p 350 <span> &#8381;</span>

                .price-list__headline
                    p.price-acc Эпиляция рук
                .price-list__body.item-3.invisible
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция подмышечных впадин
                            p 3200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция рук до логтя
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция рук полностью
                            p 6400 <span> &#8381;</span>

                .price-list__headline
                    p.price-acc Эпиляция ног
                .price-list__body.item-4.invisible
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция голени обеих ног
                            p 6400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лазерная эпиляция обеих ног полностью
                            p 10400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Единично 1 вспышка
                            p 300 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Комплексные  процедуры по выгодной цене
                .price-list__body.item-5.invisible
                    .price-line
                        .price
                            p.name-service Тотальное бикини + подмышки
                            p 6800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Тотальное бикини + голени ног
                            p  9200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ноги полностью + подмышки
                            p 11200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини + подмышки + голени ног
                            p 12800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини + подмышки + ноги полностью
                            p 14400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подмышки + бикини + ноги + руки
                            p 12800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ноги полностью + подмышки
                            p 16000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ноги полностью + подмышки
                            p 20000 <span> &#8381;</span>

                .price-list__headline
                    p.price-acc Мужская эпиляция
                .price-list__body.item-6.invisible
                    .price-line
                        .price
                            p.name-service Эпиляция груди
                            p 8000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Эпиляция живота
                            p 8000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Эпиляция спины
                            p 12000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подмышечной области
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Паховая зона
                            p 4800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Единичная вспышка
                            p 300 <span> &#8381;</span>

                .headline-price
                    p Эпиляция
                .price-list__headline
                    p.price-acc Восковая эпиляция
                .price-list__body.item-7.invisible
                    .price-line
                        .price
                            p.name-service Восковая эпиляция верхней губы
                            p 600 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция подбородка
                            p 600 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция щек
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция рук
                            p 1300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция подмышек
                            p 1000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция живота
                            p 1000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция поясницы
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция зоны бикини (классическое)
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция зоны бикини (глубокое)
                            p 3000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция ног (полностью)
                            p 2500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция голени
                            p 1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Восковая эпиляция бедер
                            p 2000<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Электроэпиляция
                .price-list__body.item-8.invisible
                    .price-line
                        .price
                            p.name-service Электроэпиляция тела (1минута)
                            p 35<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Электроэпиляция лица (1минута)
                            p 40<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Электроэпиляция зоны бикини (1минута)
                            p 50<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Сахарная эпиляция
                .price-list__body.item-9.invisible
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция верхней губы
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция подбородка
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция щек
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция рук
                            p 900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция подмышек
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция живота
                            p 500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция поясницы
                            p 500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция зоны бикини (классическое)
                            p 900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция зоны бикини (глубокое)
                            p 1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция ног (полностью)
                            p 1800<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция голени
                            p 900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Сахарная эпиляция бедер
                            p 900<span> &#8381;</span>

                .headline-price
                    p Лазер Palomar Icon
                .price-list__headline
                    p.price-acc Необляционное лазерное омоложение
                .price-list__body.item-10.invisible
                    .price-line
                        .price
                            p.name-service Необляционное омоложение лица
                            p 20000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Необляционное омоложение шеи
                            p 7000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Необляционное омоложение кистей рук
                            p 15000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Необляционное омоложение зоны вокруг глаз
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мелазма 1x1
                            p 400<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Лечение растяжек, рубцов
                .price-list__body.item-11.invisible
                    .price-line
                        .price
                            p.name-service Лечение растяжек (малая зона 1х1)
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лечение растяжек (средняя зона 5х5)
                            p 4500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лечение растяжек (большая зона 10х10)
                            p 7500<span> &#8381;</span>

                .headline-price
                    p Удаление пигментных пятен
                .price-list__headline
                    p.price-acc Max G Удаление пигментных пятен, сосудистых звездочек (купероз)
                .price-list__body.item-12.invisible
                    .price-line
                        .price
                            p.name-service Удаление сосудистых звездочек (купероз) в области носа
                            p 6000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Удаление сосудистых звездочек (купероз) на подбородке
                            p  5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Удаление пигментных пятен на всем лице
                            p 15000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Удаление пигментных пятен на лбу
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Удаление пигментных пятен в зоне декольте
                            p  10000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Удаление пигментных пятен на кистях рук
                            p 5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Удаление сосудистых звездочек (купероз) на щеках/скулах
                            p 5500 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Удаление сосудистых звездочек (купероз) на крыльях носа
                            p  3000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Один импульс Palomar Max G
                            p  300<span> &#8381;</span>

                .price-list__headline
                    p.price-acc Термолифтинг
                .price-list__body.item-13.invisible
                    .price-line
                        .price
                            p.name-service Термолифтинг воздействие на глубокие слои кожного покрова внутренней поверхности бедра
                            p 24500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Термолифтинг воздействие на глубокие слои кожного покрова внутренней поверхности рук
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Термолифтинг воздействие на глубокие слои кожного покрова живота
                            p 22400<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Термолифтинг воздействие на глубокие слои кожного покрова лица
                            p 15400<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Термолифтинг воздействие на глубокие слои кожного покрова ягодиц
                            p 24500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Один импульс Palomar Max IR
                            p 400<span> &#8381;</span>

                .price-list__headline
                    p.price-acc Необляционное омоложение(комплексы)
                .price-list__body.item-14.invisible
                    .price-line
                        .price
                            p.name-service Комплекс необляционного омоложения лица и шеи
                            p 25000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Комплекс необляционного омоложения лица, шеи и зоны декольте
                            p 35000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Комплекс необляционного омоложения лица, шеи, зоны декольте и кистей рук
                            p 45000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Комплекс необляционного омоложения шеи и зоны декольте
                            p 18000<span> &#8381;</span>

                .headline-price
                    p Косметические услуги
                .price-list__headline
                    p.price-acc Прокол ушей
                .price-list__body.item-15.invisible
                    .price-line
                        .price
                            p.name-service Прокол ушей с серьгой (пистолет)
                            p 2800<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Окрашивание бровей и ресниц
                .price-list__body.item-16.invisible
                    .price-line
                        .price
                            p.name-service Окрашивание бровей
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ламинирование ресниц - YUMI LASHES (Франция)
                            p 4500 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Коррекция бровей
                            p 500 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Окрашивание ресниц
                            p 1000<span> &#8381;</span>
                .headline-price
                    p Инъекционная косметология
                .price-list__headline
                    p.price-acc Ботулинотерапия
                .price-list__body.item-17.invisible
                    .price-line
                        .price
                            p.name-service Ботулинотерапия Botox Allergan(150 единиц)
                            p 290<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ботулинотерапия Botox Relatox (1 единица)
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ботулинотерапия Botox Disport (1 единица)
                            p 180<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ботулинотерапия Botox Xeomin (1 единица)
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ботулинотерапия Botox Lantox (1 единица)
                            p 300<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Гиперидоз
                .price-list__body.item-18.invisible
                    .price-line
                        .price
                            p.name-service Гиперидоз подмышечных впадин
                            p 17000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Гиперидоз ладоней
                            p 20000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Гиперидоз стоп
                            p 20000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Гиперидоз: мезоботокс (лицо)
                            p 10000<span> &#8381;</span>
                .headline-price
                    p БИОРЕВИТАЛИЗАЦИЯ
                .price-list__headline
                    p.price-acc БИОРЕВИТАЛИЗАЦИЯ
                .price-list__body.item-19.invisible
                    .price-line
                        .price
                            p.name-service Биоревитализация: TEOSYAL MESO (Теосиаль Мезо) - 1мл
                            p 8500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: TEOSYAL MESO EXPERT (Теосиаль Мезо Эксперт) - 3мл
                            p 16500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: JALU PRO (Йалупро) - 1мл
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: IAL SYSTEM (Иал систем) - 1,1мл
                            p 10500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: IAL SYSTEM ACP (Иал систем) - 1,1 мл
                            p 13000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: FILORGA NCTF 135 HA+ (Франция) - 3мл
                            p 11200<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: FILORGA M-HA 10 (Франция) - 3мл
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: FILORGA M-HA 18 (Франция) - 1мл
                            p  9000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: FILORGA EB (Франция) - 3мл
                            p 6000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: Мезовартон
                            p 12500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: Restylane Vital
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: Restylane Vital Lite
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: Restylane Tach
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: Juvederm Hydrate - 1мл
                            p 12000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: Redensity - 1мл
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: Redensity - 3мл
                            p 18000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: MESO XANTHIN F199
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: MESO Wharton P199
                            p 10500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: MESO EYE - 1мл
                            p 12000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: MESO Sculp - 1мл
                            p 12000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация: MESO Xhantin - 1мл
                            p 11500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Канюля гибкая для биоревитализация
                            p 1000<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Биореструктуризация
                .price-list__body.item-20.invisible
                    .price-line
                        .price
                            p.name-service SKIN B Для пациентов 25-35 лет
                            p 9000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service SKIN OX Для пациентов 35-45 лет
                            p 9500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service SKIN R Для пациентов старше 45 лет
                            p 10000<span> &#8381;</span>
                .headline-price
                    p Радикальная косметология
                .price-list__headline
                    p.price-acc Мезотерапия волос
                .price-list__body.item-21.invisible
                    .price-line
                        .price
                            p.name-service Мезотерапия волосистой части головы Mesoline Hair
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезотерапия 10 процедур
                            p 15000<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Контурная пластика
                .price-list__body.item-22.invisible
                    .price-line
                        .price
                            p.name-service Контурная пластика: JUVEDERM ULTRA 4  (1 ml)
                            p 17000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Контурная пластика: JUVEDERM ULTRA 3 (1 мл)
                            p 16000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Контурная пластика: GLYTONE 4 - 1мл
                            p 20000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Контурная пластика: GLYTONE 3 - 1мл
                            p 20000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Контурная пластика: TEOSYAL Pure sense Redensity II - 1мл
                            p 18000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Контурная пластика: TEOSYAL Ultra Deep - 1мл
                            p 11500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Контурная пластика: Restylane Perlane (1 мл)
                            p 18500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Контурная пластика: Surgiderm 24 XP - 0,8мл
                            p 14000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Контурная пластика: Surgiderm 30 XP - 0,8мл
                            p 14000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Контурная пластика: TEOSYAL RHA 3 - 1мл
                            p 19000<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Нитевой лифтинг
                .price-list__body.item-23.invisible
                    .price-line
                        .price
                            p.name-service Нитевой лифтинг: мезонити Magic Lift Gold - 1шт
                            p  1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Нитевой лифтинг: линейные мезонити Bio S Line 30G25 (9см) - 1шт
                            p 700<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Нитевой лифтинг: линейные мезонити Bio S Line 30G25 (9см) - 1шт
                            p 500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Нитевой лифтинг: линейные мезонити Bio S Line 27G60 (7см) - 1шт
                            p 500<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Увеличение губ
                .price-list__body.item-24.invisible
                    .price-line
                        .price
                            p.name-service Увеличение губ: Restylane Perlane (1 мл)
                            p  22000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Увеличение губ: Surgiderm 24 XP - 0,8мл
                            p 14000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Увеличение губ: Surgiderm 30 XP - 0,8мл
                            p 14000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Увеличение губ: TEOSYAL KISS - 1мл
                            p 18000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Увеличение губ: TEOSYAL RHA 3 - 1мл
                            p 19000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Увеличение губ: JUVEDERM ULTRA  (1 ml)
                            p 16000<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Platinum Collection
                .price-list__body.item-25.invisible
                    .price-line
                        .price
                            p.name-service Мезококтель Revitalizing mix
                            p  5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезококтель Up grade
                            p  5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезококтель Nucleonix
                            p  5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезококтель Idebae
                            p  2500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезококтель Revitalizing Heir
                            p  1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезококтель White in
                            p  2500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезококтель Light Eyes Ultra
                            p 4500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезококтель Fixer
                            p  2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезококтель Porshock Shape
                            p  2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезококтель Revital Tonic
                            p  2000<span> &#8381;</span>
                    .price-list__headline
                        p.price-acc Platinum Collection
                    .price-list__body.item-26.invisible
                        .price-line
                            .price
                                p.name-service Плазмалифтинг 1 укол (1мл)
                                p  5000<span> &#8381;</span>
                .headline-price
                    p Массажи
                .price-list__headline
                    p.price-acc Эндосфера
                .price-list__body.item-27.invisible
                    .price-line
                        .price
                            p.name-service Эндосфера - 1 процедура (60 минут)
                            p 5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Эндосфера - 6 процедур(15% скидка)
                            p 27000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Эндосфера - 6 процедур(25% скидка)
                            p 50000<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Массаж лица
                .price-list__body.item-28.invisible
                    .price-line
                        .price
                            p.name-service Хиропластический массаж лица (45 минут)
                            p  1900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Хиропластический массаж + миндально-яблочный пилинг (60 минут)
                            p 2500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Массаж лица (10 процедур)
                            p 20000<span> &#8381;</span>

                .headline-price
                    p Уходы
                .price-list__headline
                    p.price-acc Уходы
                .price-list__body.item-29.invisible
                    .price-line
                        .price
                            p.name-service Уход на косметике SKINJEXION
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике GENXSKIN
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике BIOPTIC
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике PERFECTION WHITE EXPERTISE
                            p 6500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике HYDRA CLINIC
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике DERMA CALM
                            p 6500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике BIO PURE
                            p 6500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике ACTI-BIOTIC
                            p 7000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике SUPREME DHE Age
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике FRESH CAVIAR
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике SENERGY LIFT
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике ACTI-BIOTIC
                            p 7000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике SUPREME DHE Age
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике FRESH CAVIAR
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике SENERGY LIFT
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике MESO-VIT
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике FEMINITY
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service УУход на косметике ENZYMACID
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Уход на косметике ELDAN (Италия)
                            p 6000<span> &#8381;</span>

                .price-list__headline
                    p.price-acc Пилинг
                .price-list__body.item-30.invisible
                    .price-line
                        .price
                            p.name-service Ретиноевый (желтый) пилинг Retises Mediderma
                            p 4000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Фитопилинг Lacrima
                            p 1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Гликолевый пилинг 30%
                            p 1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Гликолевый пилинг 50%
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Гликолевый пилинг 70%
                            p 3000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Миндально – яблочный пилинг
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Срединный пилинг CosmoPeel 12%
                            p 4000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Срединный пилинг CosmoPeel 18%
                            p 4000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Осветляющий пилинг MelaPeel
                            p 4000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лебединый пилинг SwanPeel
                            p 3000<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Биореструктизация
                .price-list__body.item-31.invisible
                    .price-line
                        .price
                            p.name-service Ультразвуковая чистка лица
                            p 3000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Комбинированная чистка (ультразвуковая + мануальная)
                            p 3500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Атравматичная чистка HOLY LAND
                            p 5000<span> &#8381;</span>
                .headline-price
                    p Ногтевой сервис
                .price-list__headline
                    p.price-acc Маникюр
                .price-list__body.item-32.invisible
                    .price-line
                        .price
                            p.name-service Аппаратный/классический или комбинированный маникюр + покрытие Luxio (Канада) <br> <span>Вид маникюра на выбор клиента</span>
                            p 2400<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Маникюр комбинированный/аппаратный или классический без мацерации с применением ремувера Clearance <br> <span>Вид маникюра на выбор клиента</span>
                            p 1600<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Покрытие Luxio (однотонное, можно несколько цветов )
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Выравнивание ногтевой пластины LuxioBuld
                            p 400<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Покрытие Luxio френч
                            p 1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Покрытие Luxio френч декоративный <br> <span>(цветное ногтевое ложе + цветной кончик)(1 ноготь - плюс 200 р.)</span>
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Покрытие Luxio лунный френч, Ruffian <br> <span>(1 ноготь плюс 150 р.)</span>
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Двойной френч, лунный, Ruffian <br> <span>(1 ноготь плюс 200 р.)</span>
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Halonails (ободок по контуру всего ногтя) <br> <span>(1 ноготь плюс 150 р.)</span>
                            p 1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Градиент вертикальный <br> <span>(1 ноготь- плюс 200 р.)</span>
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Градиент горизонтальный <br> <span>(1 ноготь – 250 р.)</span>
                            p 2500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Втирка Luxio <br> <span>(1 ноготь плюс 100 р.)</span>
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Покрытие Luxiogelplayglitz <br> <span>(1 ноготь плюс 100 р.)</span>
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ручная роспись
                            p от 100<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Украшение стразами
                            p от 150<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Полное покрытие ногтя стразами «Царь ноготь»
                            p 500/700/1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ремонт ногтя
                            p от 100<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Укрепление ногтей акрилом
                            p  <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service
                            p 500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Покрытие лечебным лаком Clearance (Израиль)
                            p +100<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Маникюр мужской аппаратный/классический или комбинированный <br> <span>Вид маникюра на выбор клиента</span>
                            p 1200<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Педикюр
                .price-list__body.item-33.invisible
                    .price-line
                        .price
                            p.name-service Комплекс «Педикюр + покрытие Luxio (Канада)
                            p 2800<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Комплекс педикюр «Clearance + покрытие Luxio»
                            p 3300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Экспресс-педикюр (комбинированная/ аппаратная обработка пальчиков, без стопы) + однотонное покрытие Luxio
                            p 2200<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мужской педикюр
                            p 2400<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мужской педикюр Clearance
                            p 2800<span> &#8381;</span>

                //////
                ////Заготовка заголовка
                //.headline-price
                //    p
                //
                ////Заготовка
                //.price-list__headline
                //    p.price-acc
                //.price-list__body.item-.invisible
                //    .price-line
                //        .price
                //            p.name-service
                //            p  <span> &#8381;</span>
