.container-main
    .container-menu
        include ../main/_desktop-menu
    .container-content
        .price
            .page-title
                h2.one-title Наши цены
            .pink-bg
                p Осознанная молодость
                h2 КЛИНИКА КОСМЕТОЛОГИИ
            .price-list
                .headline-price
                    p Лазерная Эпиляция  на аппарате Palomar Vectus (USA)
                .price-list__headline
                    p.price-acc Эпиляция лица
                .price-list__body.item-2.invisible
                    .price-line
                        .price
                            p.name-service Верхняя губа
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подбородок
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Височная область
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Брови с двух сторон
                            p 1200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лоб и межбровье
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Щеки (обе)
                            p 3200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лицо полностью
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Баки с двух сторон
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ушные раковины
                            p 2400 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Эпиляция тела
                .price-list__body.item-3.invisible
                    .price-line
                        .price
                            p.name-service Бикини классическое
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Тотальное бикини (глубокое)
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Спина до лопаток
                            p 4800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Грудь
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Белая линия живота
                            p 2400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Живот полностью
                            p 5000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Пояснично-крестцовая область
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ягодицы
                            p 5000 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Эпиляция рук
                .price-list__body.item-4.invisible
                    .price-line
                        .price
                            p.name-service Подмышечная область
                            p 3200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Руки до локтя
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Руки полностью
                            p 6400 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Эпиляция ног
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Голени обеих ног
                            p 6400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ноги полностью
                            p 10400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Единично 1 вспышка
                            p 300 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Мужская эпиляция
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Спина (полностью)
                            p 12000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подмышечные впадины
                            p 4000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Грудь
                            p 8000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Живот
                            p 8000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Паховая зона
                            p 4800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Единично (вспышка)
                            p 300 <span> &#8381;</span>
                .price-list__headline
                    p.price-acc Комплексные  процедуры по выгодной цене
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service «ДУЭТ 1» Тотальное бикини + подмышечная область
                            p 6800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «ДУЭТ 2» Тотальное бикини + голени ног
                            p  9200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «ДУЭТ 3» Ноги полностью + подмышечная область
                            p 11200 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «Дуэт 4» Тотальное бикини + ноги полностью
                            p 12800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «Дуэт 5» Ноги полностью + руки полностью
                            p 14400 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «ТРИО 1» Тотальное бикини + подмышечная область + голени ног
                            p 12800 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «ТРИО 2» Тотальное бикини + Подмышечная область + ноги полностью
                            p 16000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service «КВАРТЕТ» Подмышечная область + тотальное бикини + ноги полностью + руки полностью
                            p 20000 <span> &#8381;</span>

                .headline-price
                    p Восковая эпиляция
                .price-list__headline
                    p.price-acc Эпиляция
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Верхняя губа
                            p 600 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подбородок
                            p 600 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Щеки
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Руки
                            p 1300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подмышешная область
                            p 1000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Живот
                            p 1000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Поясница
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини (классич.)
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини (глубокое)
                            p 3000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ноги (полностью)
                            p 2500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Голень
                            p 1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бедро
                            p 2000<span> &#8381;</span>



                .headline-price
                    p Сахарная эпиляция
                .price-list__headline
                    p.price-acc Эпиляция
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Верхняя губа
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подбородок
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Щеки
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Руки
                            p 900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Подмышечная область
                            p 300<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Живот
                            p 500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Поясница
                            p 500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини (классич.)
                            p 900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини (глубокое)
                            p 1500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ноги (полностью)
                            p 1800<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Голень
                            p 900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бедро
                            p 900<span> &#8381;</span>

                .headline-price
                    p Электроэпиляция
                .price-list__headline
                    p.price-acc Эпиляция
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Тело (1 минута)
                            p 35<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лицо (1 минута)
                            p 40<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Бикини (1 минута)
                            p 50<span> &#8381;</span>



                .headline-price
                    p Лазер Palomar Icon
                .price-list__headline
                    p.price-acc Необляционное лазерное омоложение 1540
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Лицо
                            p 20000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Шея
                            p 7000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Декольте
                            p 15000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Кисти рук
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Зона вокруг глаз
                            p 5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мелазма 1x1
                            p 400<span> &#8381;</span>

                .price-list__headline
                    p.price-acc Необляционное лазерное омоложение 1540 Комплекс
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Лицо + шея
                            p 25000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лицо + шея + декольте
                            p 35000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лицо + шея + декольте + кисти рук
                            p 45000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Шея + декольте
                            p 18000<span> &#8381;</span>

                .price-list__headline
                    p.price-acc Лечение растяжек, стрий, рубцов 1540
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Малая зона 1х1
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Средняя зона 5х5
                            p 4500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Большая зона 10х10
                            p 7500<span> &#8381;</span>



                .headline-price
                    p Лазер Palomar Icon
                .price-list__headline
                    p.price-acc Max G Удаление пигментных пятен, сосудистых звездочек (купероз)
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Купероз нос
                            p 6000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Купероз подбородок
                            p  5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Купероз щеки/скулы
                            p  5500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Купероз крылья носа
                            p 3000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Пигментация лицо (полностью)
                            p  15000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Пигментация лоб
                            p 5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Пигментация декольте
                            p 10000 <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Пигментация кисти рук
                            p  5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Импульс
                            p  300<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Термолифтинг MAX IR воздействие на глубокие слои кожного покрова
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Внутренняя поверхность бедра
                            p 24500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Внутренняя поверхность рук
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Живот
                            p 22400<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Лицо
                            p 15400<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Ягодицы
                            p 24500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Импульс
                            p 400<span> &#8381;</span>

                .headline-price
                    p Массажи
                .price-list__headline
                    p.price-acc Массаж лица
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Хиропластический массаж лица
                            p  1900<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Хиропластический массаж + миндально-яблочный пилинг
                            p 2500<span> &#8381;</span>
                .price-list__headline
                    p.price-acc Эндосфера – скульптор тела
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service 1 процедура
                            p 5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service 6 процедур
                            p 27000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service 12 процедур
                            p 50000<span> &#8381;</span>


                .headline-price
                    p БИОРЕВИТАЛИЗАЦИЯ
                .price-list__headline
                    p.price-acc БИОРЕВИТАЛИЗАЦИЯ
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Канюля гибкая для биоревитализации
                            p 1000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Обезболивающий крем Эмла
                            p 500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service TEOSEYAL MESO ( 1 ml.)
                            p 8500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service TEOSEYAL MESO EXPERT ( 3 ml.)
                            p 18000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Биоревитализация
                            p 6900<span> &#8381;</span>

                    .price-line
                        .price
                            p.name-service IAL SYSTEM ( 0,6ml.)
                            p 9000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service IAL SYSTEM ACP ( 1,1 ml.)
                            p 13000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service IAL SYSTEM ( 1,1 ml.)
                            p  10500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service FILORGA NCTF 135 HA+ ( 3 ml.)
                            p 11200<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service FILORGA M-HA 10 ( 3 ml.)
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service FILORGA M-HA 18 ( 1 ml.)
                            p 9000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service FILORGA EB ( 3 ml.)
                            p 6000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service МЕЗОВАРТОН
                            p 12500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service РЕСТИЛАЙН ВИТАЛ
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service РЕСТИЛАН ВИТАЛ ЛАЙТ
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service РЕСТИЛАЙН ТАЧ
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service JUVIDERM HYDRATE ( 1 ml.)
                            p 9500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service REDENCITY 1 ( 1 ml.)
                            p 8000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service REDENCITY 1 ( 3 ml.)
                            p 18000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Meso Eye ( 1 ml.)
                            p 12000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Meso sculp ( 1 ml.)
                            p 12000<span> &#8381;</span>

                .headline-price
                    p Биореструктизация
                .price-list__headline
                    p.price-acc Биореструктизация
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Скин B
                            p 9000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Скин R
                            p 10000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Скин OX
                            p 9500<span> &#8381;</span>
                .headline-price
                    p Мезотерапия волос
                .price-list__headline
                    p.price-acc Мезотерапия волос
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service Мезотерапия волосистой части головы Mesoline Hair ( 1 ml.)
                            p 2000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезотерапия волосистой части головы Mesoline Hair ( 2 ml.)
                            p 3000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Абонемент на 10 процедур мезотерапии волос
                            p 15000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Мезотерапия Mesoline Лицо
                            p 3000<span> &#8381;</span>



                .headline-price
                    p Линия препаратов Platinum Collection (Promoitalia)
                .price-list__headline
                    p.price-acc Platinum Collection
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service VIT:Jal Revitalizing mix ( 2 ml.)
                            p 5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Up grade ( 2 ml.)
                            p 5000<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Nucleonix ( 2 ml.)
                            p  <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service Idebae ( 1 ml.)
                            p 2500<span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service
                            p  <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service
                            p  <span> &#8381;</span>
                    .price-line
                        .price
                            p.name-service
                            p  <span> &#8381;</span>


                //Заготовка заголовка
                .headline-price
                    p

                //Заготовка
                .price-list__headline
                    p.price-acc
                .price-list__body.item-.invisible
                    .price-line
                        .price
                            p.name-service
                            p  <span> &#8381;</span>
