$text-color: #605458;
$text-color-dark: #6F6266;
$bg: #FFF2F7;
$bg-dark: #938086;
$white: #ffffff;
.wrapper {
  width: 100%;
  max-width: 1255px;
}
.main__fist-screen {
  min-height: calc(100vh - 146px);
  background-image: url("../images/main.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  p {
    font-size: calc(14px + 1vw);
    line-height: 23px;
    text-align: center;
  }
}
.desktop-menu,
.desktop-menu-inside {
  width: 330px;
  height: calc(100vh - 145px);
  min-height: 400px;
  background-color: $bg;
  position: absolute;
  top: 145px;
  z-index: 100;
  text-align: center;
  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: $text-color-dark;
    &:hover {
      color: $white;
    }
  }
  .menu {
    display: block;
    padding: 15px;
    &:hover {
      background-color: $bg-dark;
    }
  }
  .menu.active {
    background-color: $bg-dark;
    color: $white;
  }
  .bg {
    width: 358px;
    height: 342px;
    background-image: url("../images/bg-bottom.png");
    position: absolute;
    right: -358px;
    bottom: 0;
  }
}
@media screen and (max-width: 1200px){
  .desktop-menu {
    display: none;
  }
}

.second-title {
  font-weight: 300;
  font-size: calc(20px + 1vw);
  line-height: 61px;
  margin: 0 auto;
}
.fist-title {
  font-weight: normal;
  h1 {
    font-size: calc(20px + 1vw);
    line-height: 59px;
    text-align: center;
  }

}
.titles {
  width: 720px;
  height: 60vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 90px;
  margin-left: 0;
}
@media screen and (max-width: 1600px){
  .titles {
    margin-left: 245px;
  }
}
@media screen and (max-width: 1200px){
  .titles {
    margin-left: 0;
    width: 50%;
  }
}
@media screen and (max-width: 767px){
  .fist-title {
    font-size: 22px;
  }
  .second-title {
    font-size: 16px;
    line-height: normal;
  }
  .titles {
    padding-top: 10px;
  }
}
@media screen and (max-width: 425px){
  .main {
    height: 430px;
  }
  .main__fist-screen {
    height: 430px;
  }
}
.description {
  width: 630px;
  h2 {
    font-size: 25px;
    font-weight: normal;
    span {
      font-size: 20px;
    }
  }
}
.order-description {
  background-color: $bg;
  padding: 50px 0;
}
.order__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 12px 36px;
  background-color: #fff;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: $text-color;
  cursor: pointer;
  transition: .3s ease-in-out;
  &:hover {
    background-color: #938086;
    border: 1px solid #938086;
    color: $white;
  }
}

@media screen and (max-width: 978px){
  .order__wrap {
    display: block;
  }
  .description {
    width: 100%;
  }
  .btn-block {
    text-align: center;
    margin-top: 30px;
  }
}
@media screen and (max-width: 425px) {
  .description {
    h2 {
      font-size: 22px;
      span {
        font-size: 18px;
      }
    }
  }
}

.before-after {
  background-color: $bg;
  width: 100%;
  padding: 0;
  .description {
    width: 1020px;
    margin: 0 auto;
    h2 {
      margin-bottom: 24px;
    }
  }
}
.description {
  .description__line {
    background-color: $bg-dark;
    padding: 18px 60px;
    max-width: 1024px;
    p {
      font-size: 35px;
      line-height: 43px;
      text-transform: uppercase;
      color: $white;
    }
  }
}
@media screen and (max-width: 1200px){
  .before-after, .about__headline {
    .description {
      max-width: 90%;
    }
  }
}
@media screen and (max-width: 768px){
  .description {
    .description__line {
      p {
        font-size: 22px;
        line-height: normal;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .before-after {
    .description {
      h2{
        font-size: 22px;
        span {
          font-size: 18px;
        }
      }
    }
  }
}
.warranty {
  background-color: $bg;
  padding-top: 30px;
  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .warranty__description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h3 {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 39px;
    }
    p {
      font-size: 18px;
      line-height: 22px;
    }
    .center {
      text-align: center;
      width: 433px;
    }
    .right {
      text-align: right;
      width: 380px;
    }
    .left {
      text-align: left;
      width: 342px;
    }
  }
  .warranty__description-item {
    padding: 55px 10px 10px 10px;
  }
  .warranty__description-item:nth-child(2){
    border-left: 1px solid #605458;
    border-right: 1px solid #605458;
  }
  .warranty__description-item:nth-child(1){
    padding-left: 0;
  }
  .warranty__description-item:nth-child(3){
    padding-right: 0;
  }
}
@media screen and (max-width: 1200px){
  .warranty {
    .warranty__description {
      justify-content: center;
    }
    .warranty__description-item:nth-child(2){
      border: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .warranty {
    .warranty__description {
      .left,
      .center,
      .right {
        width: 100%;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .warranty {
    .warranty__description-item {
      padding-top: 20px;
      h3 {
        margin-bottom: 15px;
      }
    }
  }
}
//.warranty .warranty__description-item {
.clinika {
  padding-top: 120px;
  padding-bottom: 20px;
  background-image: url("../images/about.png");
  background-position: right bottom;
  background-size: auto;
  background-repeat: no-repeat;
  h3 {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 61px;
  }
  .clinika__description {
    width: 886px;
    p {
      font-size: 18px;
      line-height: 22px;
      margin-top: 20px;
      text-indent: 20px;
    }
  }
  .warranty__footer {
    display: flex;
    justify-content: space-between;
    p {
      text-indent: 0;
    }
  }
}
@media screen and (max-width: 1200px){
  .clinika {
    background-image: none;
    .clinika__description {
      width: 100%;
    }
  }
}
@media screen and (max-width: 425px) {
  .clinika {
    padding-top: 50px;
    h3 {
      margin-bottom: 25px;
    }
  }
}
.scheme {
  padding-top: 12px;
  h3 {
    text-align: center;
    margin-bottom: 31px;
  }
  .btn-pink {
    background-color: $bg;
    color: $text-color;
    font-size: 16px;
    position: relative;
    z-index: 2;
    &:hover {
      background-color: #938086;
      color: $white;
    }
  }
  .btn-block {
    margin-top: -50px;
    text-align: center;
  }
}
.work {
  display: flex;
  justify-content: space-between;
  h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    line-height: 22px;
  }
  .work__item:nth-child(1) {
    padding-top: 120px;
  }
  .work__item:nth-child(2) {
  }
  .work__item:nth-child(3) {
    padding-top: 120px;
  }
  .work-icon {
    display: block;
    margin: 0 auto;
  }
  .work__item {
    flex-basis: 30%;
  }
  .work__item {
    position: relative;
    h4 {
      text-align: center;
    }
  }
  .work__item:nth-child(2) {
    &:after {
      content: url("../images/line.svg");
      position: absolute;
      top: 60px;
      right: -37%;
      z-index: -1;
    }
  }
  .work__item-items{
    display: block;
    margin: 0 auto;
  }
  .item1 {
    width: 220px;
  }
  .item2 {
    width: 279px;
  }
  .item3 {
    width: 293px;
  }
}

@media screen and (max-width: 1200px){
  .work {
    .work__item:nth-child(2){
      &:after{
        display: none;
      }
    }
    .work__item {
      padding-top: 50px;
    }
    .work__item:nth-child(1) {
      padding-top: 50px;
    }
    .work__item:nth-child(3) {
      padding-top: 50px;
    }
  }
  .scheme {
    .btn-block {
      margin-top: 30px;
    }
  }
}
@media screen and (max-width: 1024px){
  .work {
    display: block;
  }
  .scheme {

  }
}
@media screen and (max-width: 425px){
  .work {
    .work__item:nth-child(1) {
      padding-top: 0;
    }
    .item3,
    .item2,
    .item1 {
      width: 80%;
    }
  }
}
.compare {
  padding-top: 110px;
  padding-bottom: 40px;
  h3 {
    text-align: center;
  }
  p {
    position: relative;
    padding-left: 30px;
    color: #A79298;
    margin-bottom: 85px;
  }
  .my-clinic {
    p:last-child {
      margin-bottom: 0;
    }
    p:nth-child(1){
      font-size: 18px;
      font-weight: 600;
      margin-top: 50px;
      &:after {
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #F8E7ED;
        position: absolute;
        left: 4px;
        top: 4px;
      }
      &:before {
        content: '';
        display: block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 1px solid #F8E7ED;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    p {
      &:after {
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #F8E7ED;
        position: absolute;
        left: 4px;
        top: 4px;
      }
    }
  }
  .other-clinic {
    p:last-child {
      margin-bottom: 0;
    }
    p:nth-child(1){
      font-size: 18px;
      font-weight: 600;
      margin-top: 50px;
      &:after {
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #A79298;
        position: absolute;
        left: 4px;
        top: 4px;
      }
      &:before {
        content: '';
        display: block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 1px solid #A79298;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    p {
      &:after {
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #A79298;
        position: absolute;
        left: 4px;
        top: 4px;
      }
    }
  }
  .compare__clinic {
    background-image: url("../images/libra.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: space-between;
  }
  .my-clinic {
    flex-basis: 46%;
  }
  .other-clinic {
    flex-basis: 39%;
  }
}
@media screen and (max-width: 768px){
  .compare {
    .other-clinic {
      display: none;
    }
    .my-clinic {
      flex-basis: 100%;
      padding-left: 10%;
    }
  }
}
@media screen and (max-width: 425px) {
  .compare {
    padding-top: 50px;
  }
}
.questions {
  background-color: $bg;
  padding-top: 37px;
  padding-bottom: 5px;
  .questions__bg {
    background-image: url("../images/question.svg");
    background-repeat: no-repeat;
    background-position: right top;
  }
  p.question,
  p.question-no-acc {
    color: $white;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translate(0, -50%) rotateZ(-45deg);
    }
  }
  p.question.active,
  p.question-no-acc.active{
    &:before {
      transform: translate(0, -50%) rotateZ(135deg);
    }
  }
  h3 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
  }
  .item-1, .item-2 {
    width: 824px;
  }
  .item-3 {
    width: 953px;
  }
  .item-4 {
    width: 1122px;
  }
  .question,
  .question-no-acc {
    width: 100%;
    padding: 14px 0 14px 40px;
    background-color: $bg-dark;
    margin-bottom: 45px;
  }
  .question {
    cursor: pointer;
  }
  .answer {
    padding-left: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6F6266;
    margin-bottom: 20px;
  }
  .item-5 {
    width: 100%;
    .question {
      padding-right: 330px;
    }
  }
  .invisible {
    display: none;
  }
}
@media screen and (max-width: 1200px){
  .questions {
    .questions__bg {
      background-image: none;
    }
    .item-1,
    .item-2,
    .item-3,
    .item-4 {
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px){
  .questions {
    .item-2,
    .item-3,
    .item-4,
    .item-5 {
      .question {
        padding-right: 10px;
      }
    }
    .item-1 {
      .question-no-acc {
        padding-right: 10px;
      }
    }
  }
}

.map {
  padding-top: 17px;
  .map__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }
  .address {
    width: 278px;
  }
  .address, .phone {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
  }
  .btn-pink {
    background-color: $bg;
    padding: 12px 25px;
    color: $text-color;
    font-size: 16px;
    &:hover {
      background-color: #938086;
      color: $white;
    }
  }
  iframe {
    border: none;
    width: 100%;
    height: 563px;
    padding: 0;
    margin-bottom: -3px;
  }
}
@media screen and (max-width: 1200px){
  .map {
    iframe {
      max-height: 350px;
    }
  }
}

@media screen and (max-width: 768px) {
  .map {
    .map__header {
      flex-direction: column;
    }
    .address {
      margin-bottom: 20px;
    }
    .btn-block {
      margin-bottom: 20px;
    }
  }
}


.pink-bg {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
  background-color: $bg;
}

//About
.about {
  .about__headline {
    position: relative;
  }
  h1 {
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    padding-bottom: 50px;
    span {
      font-weight: normal;
      font-size: 20px;
      line-height: 50px;
    }
  }
  .description {
    width: 80%;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 102px;
    .description__headline {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 29px;
    }
    h2 {
    }
  }
  .description__line {
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
    align-items: center;
  }
  .bg-up {
    width: 154px;
    height: 147px;
    background-image: url("../images/up-about.png");
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    top: 0;
    left: 0;
  }
  .bg-down {
    width: 154px;
    height: 147px;
    background-image: url("../images/down-about.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .warranty__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
      background-color: $bg-dark;
      padding: 15px;
      color: $white;
      flex-basis: 32%;
      min-width: 391px;
      height: 741px;
      margin-bottom: 40px;
      h4 {
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
  .about-clinic {
    padding-top: 102px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
    margin: 0;
    h2 {
      margin-bottom: 70px;
    }
    .about-clinic__description {
      width: 886px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 22px;
      text-indent: 20px;
      p {
        margin-bottom: 50px;
      }
    }
  }
}
.license {
  position: relative;
  z-index: 3;
  background-color: $white;
  padding-top: 32px;
  h2 {
    margin-bottom: 126px;
    text-align: center;
  }
}
.license__items {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    width: 479px;
    height: 695px;
    background: $bg-dark;
    border-radius: 7px;
    margin-bottom: 20px;
  }
}
.white-bg {
  position: relative;
  background-color: $white;
  z-index: 3;
}
.btn-white-border {
  &:hover {
    border: 1px solid $white;
  }
}
@media screen and (max-width: 1900px){
  .desktop-menu-inside {
    display: none;
  }
}
@media screen and (max-width: 1200px){
  .about {
    .description {
      .description__headline {
        width: 100%;
      }
    }
    .warranty__items {
      justify-content: space-around;
    }
  }
  .license__items {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
  }
}
@media screen and (max-width: 968px) {
  .about {
    .about-clinic {
      .about-clinic__description {
        width: 100%;
        padding-left: 15px;
      }
    }
    .bg-up {
      display: none;
    }
  }
}
@media screen and (max-width: 768px){
  .about {
    .description__line {
      padding: 10px;
      }
      .btn {
        padding: 7px;
        font-size: 16px;
      }
    }
  }
@media screen and (max-width: 425px){
  .about {
    .warranty__items {
      .item {
        min-width: 300px;
        width: 100%;
      }
    }
    .description__line {
      p {
        font-size: 18px;

      }
    }
  }
}

.description-page {
  .pink-bg {
    padding-top: 47px;
    padding-bottom: 32px;
    background-color: $bg;
  }
  .btn-block {
    margin-top: 40px;
    text-align: center;
  }
}
.all-doctors {
  .text-doctors {
    font-size: 20px;
    width: 907px;
    margin: 0 auto;
    p:nth-child(1){
      margin-bottom: 20px;
    }
    p:nth-child(2){
      font-size: 17px;
      line-height: 21px;
    }
  }
  .personal-photo__card {
    width: 485px;
    height: 715px;
    border-radius: 7px;
    background-color: $bg;
    padding-top: 19px;
    padding-bottom: 26px;
    margin: 0 auto 157px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &:after {
      content: '';
      width: 485px;
      height: 715px;
      background-color: $bg-dark;
      border-radius: 7px;
      position: absolute;
      right: -34px;
      bottom: -34px;
      z-index: -1;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
    }
  }
  .personal-photo {
    padding-top: 73px;
    padding-bottom: 106px;
    position: relative;
    z-index: 100;
    .bg-up {
      width: 154px;
      height: 147px;
      background-image: url("../images/up-about.png");
      background-repeat: no-repeat;
      background-position: left top;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .boss {
    margin-top: 0;
  }
  .second-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .btn-block {
    a {
      text-decoration: none;
    }
    a.btn {
      display: inline-block;
    }
  }
}



@media screen and (max-width: 1024px){
  .all-doctors {
    .personal-photo__card {
      &:after {
        display: none;
      }
    }
    .text-doctors {
      width: 80%;
    }
    .bg-up {
      display: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  .all-doctors {
    .personal-photo__card {
      padding-left: 10px;
      padding-right: 10px;
      width: 90%;
      height: auto;
    }
  }
}

.detail-doctors {
  padding-bottom: 100px;
  position: relative;
  .pink-bg {
    width: 100%;
    height: 318px;
    background-color: $bg;
    position: absolute;
    z-index: 1;
  }
  .detail-doctor{
    margin-top: 50px;
    position: relative;
    .bg-up {
      width: 154px;
      height: 147px;
      background-image: url("../images/up-about.png");
      background-repeat: no-repeat;
      background-position: left top;
      position: absolute;
      top: 318px;
      left: 0;
      z-index: 1;
    }
    .description {
      width: 55%;
      height: 620px;
      padding-bottom: 30px;
      padding-top: 30px;
      padding-left: 6%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: justify;
      order: -1;
      p {
        margin-bottom: 20px;
      }
      .btn-block {
        text-align: right;
      }
    }
  }
  .description-photo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 3;
  }
  .doctor-photo {
    margin-right: 15px;
  }
  .doctor-title {
    text-align: center;
    h2 {
      margin-bottom: 5px;
    }
  }
  .btn-pink {
    background-color: $bg;
    color: $text-color;
    font-size: 15px;
    &:hover {
      background-color: #938086;
      color: $white;
    }
  }
}
@media screen and (max-width: 1200px){
  .detail-doctors {
    .doctor-photo {
      margin-right: 0;
    }
    .bg-up {
      display: none;
    }
    .pink-bg {
      height: 100%;
    }
    .description-photo {
      display: block;
    }
    .detail-doctor {
      .description {
        width: 100%;
        padding-left: 0;
        .btn-block {
          text-align: center;
        }
      }
    }
    .btn-pink {
      background-color: $white;
      color: $text-color;
      font-size: 15px;
      &:hover {
        background-color: #938086;
        color: $white;
      }
    }
  }
}

.price {
  .pink-bg {
    padding-top: 28px;
    height: 129px;
    background-color: $bg;
    text-align: center;
    p {
      font-size: 17px;
      margin-bottom: 23px;
    }
    h2 {
      font-weight: normal;
      font-size: 25px;
    }
  }
  .headline-price {
    padding: 14px 0;
    text-align: center;
    background-color: $bg-dark;
    p {
      font-weight: 500;
      color: $white;
    }
  }
  .price-list__headline {
    padding: 14px 0;
    text-align: center;
    border: 1px solid #6F6266;
    border-top: none;
    background-color: $bg;
  }
  .price-list__headline:first-child {
    border-top: 1px solid #6F6266;
    border-bottom: 1px solid #6F6266;
  }
  .price-line {
    border: 1px solid #6F6266;
    border-top: none;
    padding: 14px 0;
    .price {
      .name-service {
        max-width: 60%;
      }
    }
  }
  .price-line:last-child{
    border-bottom: 1px solid #6F6266;
  }
  .price {
    display: flex;
    justify-content: space-between;
    max-width: 655px;
    margin: 0 auto;
  }
  .price-list {
    padding-left: 15px;
    padding-right: 15px;
    p {
      font-size: 17px;
    }
  }
  .price-list__body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .item-1 {
     background-image: url("../images/price-item1.png");
   }
  .item-2 {
    background-image: url("../images/item-2.png");
  }
  .item-3 {
    background-image: url("../images/item-3.png");
  }
  .item-4 {
    background-image: url("../images/item-4.png");
  }
  .item-5 {
    background-image: url("../images/item-5.png");
  }
  .item-6 {
    background-image: url("../images/item-6.png");
  }
  .item-7 {
    background-image: url("../images/item-7.png");
  }
  .item-8 {
    background-image: url("../images/item-8.png");
  }
  .item-9 {
    background-image: url("../images/item-9.png");
  }
  .item-10 {
    background-image: url("../images/item-10.png");
  }
  .item-11 {
    background-image: url("../images/item-11.png");
  }
  .item-12 {
    background-image: url("../images/item-12.png");
  }
  .item-13 {
    background-image: url("../images/item-13.png");
  }
  .item-14 {
    background-image: url("../images/item-14.png");
  }
  .item-15 {
    background-image: url("../images/item-15.png");
  }
  .item-16 {
    background-image: url("../images/item-16.png");
  }
  .item-17 {
    background-image: url("../images/item-17.png");
  }
  .item-18 {
    background-image: url("../images/item-18.png");
  }
  .item-19 {
    background-image: url("../images/item-19.png");
  }
  .item-20 {
    background-image: url("../images/item-20.png");
  }
  .item-21 {
    background-image: url("../images/item-21.png");
  }
  .item-22 {
    background-image: url("../images/item-22.png");
  }
  .item-23 {
    background-image: url("../images/item-23.png");
  }
  .item-24 {
    background-image: url("../images/item-24.png");
  }
  .item-25 {
    background-image: url("../images/item-25.png");
  }
  .item-26 {
    background-image: url("../images/item-26.png");
  }
  .item-27 {
    background-image: url("../images/item-27.png");
  }
  .item-28 {
    background-image: url("../images/item-28.png");
  }
  .item-29 {
    background-image: url("../images/item-29.png");
  }
  .item-30 {
    background-image: url("../images/item-30.png");
  }
  .item-31 {
    background-image: url("../images/item-31.png");
  }
  .price-list__headline {
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-left: 2px solid #817478;
      border-bottom: 2px solid #817478;
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translate(0, -50%) rotateZ(-45deg);
    }
  }
  .price-list__headline.active {
    &:before {
      transform: translate(0, -50%) rotateZ(135deg);
      }
    }
  .invisible {
    display: none;
  }
}
@media screen and (max-width: 425px){
  .price {
    .price-line {
      .price {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .price-list__body {
      p {
        font-size: 13px;
      }
    }
  }
}

.feedback {
  .description-page {
    p {
      font-weight: normal;
      font-size: 20px;
    }
    h2 {
      font-weight: normal;
      font-size: 35px;
    }
    .pink-bg {
      padding: 55px 0;
      text-align: center;
      p {
        margin-bottom: 20px;
      }
    }
  }
  .description {
    padding-top: 30px;
    width: 100%;
    position: relative;
    .bg-up {
      width: 154px;
      height: 147px;
      background-image: url("../images/up-about.png");
      background-repeat: no-repeat;
      background-position: left top;
      position: absolute;
      top: 0;
      left: 0;
    }
    .headline {
      width: 67%;
      margin: 0 auto;
    }
    h3 {
      font-weight: 500;
      font-size: 25px;
    }
    span {
      font-weight: normal;
      font-size: 20px;
    }
  }
  .btn-pink {
    background-color: $bg;
    padding: 12px 20px;
    color: $text-color;
    font-weight: 300;
    font-size: 16px;
    &:hover {
      background-color: #938086;
      color: $white;
    }
  }
  .btn-block {
    text-align: center;
    margin: 52px 0;
  }
  .feedback-block {
    .pink-bg {
      border-radius: 5px;
    }
    .feedback-item {
      position: relative;
      font-weight: normal;
      font-size: 16px;
      padding-right: 15px;
      padding-top: 28px;
      padding-bottom: 28px;
      .name {
        font-weight: 500;
        font-size: 18px;
        position: absolute;
        z-index: 100;
        top: -50px;
        left: calc(20% - 150px);
        width: 166px;
        height: 90px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        p {
          display: block;
        }
        &:after {
          content: url("../images/feedback.svg");
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .text {
        margin-left: auto;
        width: 75%;
        text-align: justify;
      }
      .date {
        padding-left: 10%;
      }
    }
    .white-bg {
      height: 108px;
    }
  }
}
.feedback-form {
  padding-right: 15px;
  text-align: right;
  .btn-pink {
    background-color: $bg;
    padding: 12px 39px;
    color: $text-color;
    font-weight: 300;
    font-size: 16px;
    &:hover {
      background-color: #938086;
      color: $white;
    }
  }
  .btn-block{
    margin-top: 29px;
    margin-bottom: 102px;
  }
  input {
    padding: 15px 15px 15px 31px;
    width: 75%;
    border: 1px solid #605458;
    border-radius: 5px;
    &::placeholder {
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 425px){
  .feedback {
    .feedback-block {
      .feedback-item {
        padding-top: 100px;
        padding-left: 15px;
        .name {
          left: 15px;
        }
        .text {
          width: 100%;
        }
        .date {
          margin-top: 10px;
          padding-left: 0;
        }
      }
    }
    .btn-block {
      margin-bottom: 80px;
    }
  }
  .feedback-form {
    padding-left: 15px;
    input {
      width: 100%;
    }
  }
}

.contacts,
.agreement {
  .description-page {
    p {
      font-weight: normal;
      font-size: 20px;
    }
    h2 {
      font-weight: normal;
      font-size: 35px;
      margin-bottom: 59px;
    }
    h3 {
      font-weight: 500;
      font-size: 20px;
      span {
        font-weight: normal;
        font-size: 18px;
      }
    }
    .pink-bg {
      padding: 55px 0;
      text-align: center;
      p {
        margin-bottom: 20px;
      }
      .headline {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        text-align: justify;

      }
    }
  }
  .info-block {
    position: relative;
    padding-top: 88px;
  }
  .info-block__flex {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .bg-up {
    width: 154px;
    height: 147px;
    background-image: url("../images/up-about.png");
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    top: 0;
    left: 0;
  }
  .bg-down {
    width: 154px;
    height: 147px;
    background-image: url("../images/down-about.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .btn-block {
    margin-top: 0;
  }
  .info-block__phone {
    margin-bottom: 80px;
  }
  .info-block__social {
    margin-bottom: 93px;
  }
  .info-block__phone,
  .info-block__social {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    p {
      font-weight: normal;
      font-size: 18px;
    }
  }
  .phone {
    margin-left: 20px;
    a {
      display: block;
      text-decoration: none;
      color: $text-color;
      margin-bottom: 20px;
    }
  }
  .icon-block {
    a {
      margin-left: 11px;
    }
    img {
      height: 34px;
    }
  }
  .btn-pink {
    padding: 12px 25px;
    background-color: $bg;
    color: $text-color;
    font-size: 16px;
    &:hover {
      background-color: #938086;
      color: $white;
    }
  }
  .map {
    background-color: $bg;
    .map__iframe {
      width: 90%;
      max-width: 1100px;
      margin: 0 auto;
      iframe {
        width: 100%;
        height: 500px;
      }
    }
    .map-healine {
      font-weight: normal;
      font-size: 18px;
      width: 100%;
      max-width: 565px;
      margin-bottom: 13px;
    }
  }
  .white-bg {
    height: 94px;
  }
}
@media screen and (max-width: 967px){
  .contacts {
    .info-block__flex {
      display: block;
      padding-bottom: 30px;
    }
  }
}
@media screen and (max-width: 660px) {
  .contacts {
    .info-block__phone {
      display: block;
      text-align: center;
      p {
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .contacts {
    .info-block__flex {
      padding-bottom: 60px;
    }
    .info-block__phone {
      margin-bottom: 40px;
    }
    .info-block__social {
      display: block;
      text-align: center;
      margin-bottom: 40px;
      p {
        margin-bottom: 20px;
      }
    }
    .icon-block {
      a {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    .map {
      .map__iframe {
        iframe {
          height: 350px;
        }
      }
    }
  }
}
.agreement {
  .description-page{
    h2 {
      margin-bottom: 0;
    }
  }
  .info-block {
    .text {
      padding-bottom: 73px;
      width: 90%;
      max-width: 1100px;
      margin: 0 auto;
    }
    p {
      line-height: 21px;
      font-size: 16px;
      text-align: justify;
      text-indent: 20px;
      margin-bottom: 40px;
    }
  }
}

.mobile-menu {
  position: absolute;
  right: -100%;
  z-index: 200;
  top: 0;
  width: 100%;
  max-width: 330px;
  min-height: 100vh;
  background-color: $bg;
  padding-top: 20px;
  padding-right: 20px;
  .btn-close {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 10px;
    span {
      position: absolute;
      top: 50%;
      display: block;
      width: 30px;
      height: 4px;
      border-radius: 5px;
      background-color: $bg-dark;
    }
    span:first-child {
      transform: rotateZ(45deg);
    }
    span:last-child {
      transform: rotateZ(-45deg);
    }
  }
  li {
    list-style: none;
    a {

      text-decoration: none;
    }
  }
  .menu-item {
    display: block;
    padding: 15px 0;
    text-align: center;
    color: $text-color;
    &:hover {
      background-color: $bg-dark;
      color: $white;
    }
  }
  .btn-back {
    &:after {
      content: '>';
      position: absolute;
      right: 50px;
    }
  }
  .mobile-menu__sub-1 {
    display: none;
  }
  .arrow {
    &:before {
      content: '<';
      position: absolute;
      left: 10px;
    }
  }
}

.mobile-menu.active {
  right: 0;
}
.mobile-menu__sub-1.active {
  display: block;
}
.mobile-menu__main {
  display: none;
}
.mobile-menu__main.active {
  display: block;
}
